
.modal-content{
    min-width: 680px;
}
.modal-icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.modal-icon-circle {
    background-color: #fdecea;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        color: #DB2719;
        font-family: 'plusFont', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.text-red-600 {
    color: #DB2719;
    font-family: 'plusFont', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modal-text {
    color: #232323;
    font-family: 'plusFont', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-outline,
.btn-solid {
    padding: 10px 24px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 100px;
}

.btn-outline {
    color: #232323;
    font-family: 'plusFont', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    border-radius: 16px;
    border: 2px solid #232323;
    background: #FFF;
}

.btn-outline:hover {
    background-color: #f2f2f2;
}

.btn-solid {
    color: #FFF;
    font-family: 'plusFont', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    border-radius: 16px;
    background: #232323;
}

.btn-solid:hover {
    background-color: #222;
}

/* Disabled appearance for solid button */
.btn-solid[disabled],
.btn-solid:disabled {
    background: #dcdcdc !important;
    color: #666 !important;
    cursor: not-allowed;
    opacity: 1;
}

.btn-solid[disabled]:hover,
.btn-solid:disabled:hover {
    background: #dcdcdc !important;
}