.small {
    font-size: 13px
}

.dropdown {
    ul {
        width: 200px;

        li a[cDropdownItem] {
            text-transform: capitalize;
            border-bottom: 1px solid #f1f1f1;
            font-size: 13px;
            padding: 7px 15px;
        }

        li:last-child a[cDropdownItem] {
            border-bottom: 0;
        }

        li.active a[cDropdownItem] {
            background-color: #FFDAB9;
            color: #ffffff;
        }
    }
}


.env-button {
    width: 200px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 8px 10px;
    border-radius: 10px;
    text-align: left;
    font-weight: 500;
}


.btn:focus {
    box-shadow: 0 0 0 .25rem rgba(250, 137, 107, 0.1);
}

.side-bar-toggler {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: rgba(250, 137, 107, 0.1);
        color: #EA7131;
    }
}

.mw-200 {
    min-width: 200px;
    padding: 15px;
}

.btn.btn-drop-down:focus {
    box-shadow: none;
}

.btn-drop-down {
    background: transparent;
    text-transform: capitalize;
}

.btn:first-child:active {
    border: 0;
}
.user-name{
    padding-top:2px ;
}