<ng-container>
  <c-container [fluid]="true" class="px-4">
    <!-- <button [cSidebarToggle]="sidebarId" cHeaderToggler class="btn side-bar-toggler rounded-circle" toggle="visible"
      style="margin-inline-start: -14px;">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button> -->
    <!-- <c-header-nav class="d-none d-md-flex m-0 align-items-center">
    </button> -->
    <c-header-nav class="d-none d-md-flex">
    </c-header-nav>

    <!-- <c-header-nav class="d-none d-md-flex ms-auto">
      <ng-container>
        <c-dropdown class="mx-2">
          <button cButton cDropdownToggle class="btn btn-drop-down">
            {{selectedProject}}
          </button>
          <ul cDropdownMenu>
            <li *ngFor="let list of listOfProjects" [class.active]="isSelectedProject(list)"
              (click)="getSelectedProject(list)"><a [routerLink]="[]" cDropdownItem>{{list?.name}}</a></li>
          </ul>
        </c-dropdown>
        <div class="nav-item py-1">
          <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
        </div>
      </ng-container>
    </c-header-nav> -->
    <!-- <c-header-nav>
      <ng-container>
        <c-dropdown>
          <button cButton cDropdownToggle class="btn btn-drop-down">
            {{selectedRegion}}
          </button>
          <ul cDropdownMenu>
            <li *ngFor="let list of listOfRegions" [class.active]="isSelectedRegion(list)"
            (click)="getSelectedRegion(list)"
              ><a [routerLink]="[]" cDropdownItem>{{list?.name}}</a></li>
          </ul>
        </c-dropdown>
        <div class="nav-item py-1">
          <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
        </div>
      </ng-container>
    </c-header-nav> -->
    <!-- <c-header-nav>
      <ng-container>
        <c-dropdown>
          [style.background]="colorMode() === 'dark' ? '#212631' : '#dee2e6'"
          <button cButton cDropdownToggle class="btn btn-drop-down">
            {{selectedEnvironment}}
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="['/environment']" cDropdownItem class="b-0"> + New Environment</a></li>
            <li *ngFor="let list of listOfenvironments" [class.active]="isSelectedEnv(list)"
              (click)="getSelectedEnv(list)"><a [routerLink]="[]" cDropdownItem>{{list?.name}}</a></li>
          </ul>
        </c-dropdown>
        <div class="nav-item py-1">
          <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
        </div>
      </ng-container>
    </c-header-nav> -->
    <!-- <c-header-nav class="ms-auto ms-md-0">
      
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav> -->

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>

  </c-container>
</ng-container>

<ng-template #userDropdown>
  <span class="text-white user-name">{{userData?.name}}</span>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0">
      <c-avatar shape="rounded-1" [size]="'s'" [src]="userData?.avatar  || './assets/images/avatars/avatar.jpg'"
        textColor="primary" />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <a cDropdownItem routerLink="/account-settings">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Account Settings
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="" (click)="logout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<!-- <ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle>
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
      <button (click)="setTheme(mode.name)" [active]="colorMode()===mode.name" [routerLink]="[]" cDropdownItem
        class="d-flex align-items-center">
        <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
        {{ mode.text }}
      </button>
      }
    </div>
  </c-dropdown>
</ng-template> -->