<div class="stepper" *ngIf="currentStep !== 4">
  <div class="step" *ngFor="let step of steps; let i = index" [ngClass]="{
        'completed': i < currentStep,
        'incomplete': i < currentStep && !isStepCompleted(i),
        'active': i === currentStep,
        'disabled': !canNavigateToStep(i)
      }" (click)="canNavigateToStep(i) && goToStep(i)">
    <div class="circle">
      <span *ngIf="i < currentStep">
        <ng-container *ngIf="isStepCompleted(i)">&#10003;</ng-container>
      </span>
    </div>
    <div class="label" [innerHTML]="step.label"></div>
  </div>
</div>
<hr />

<div class="step-content">
  <div class="step-content-section">

    <ng-container *ngIf="steps[currentStep].label === 'General'">
      <form [formGroup]="stepOneForm" class="stepper-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4" style="margin-top:1px">
              <mat-label class="form-label">Choose a deployment type</mat-label>
              <mat-select formControlName="type" id="deployOptions" class="form-select mt-2">
                <mat-option value="" disabled selected hidden>Choose a type to continue</mat-option>
                <mat-option *ngFor="let option of deployOptions" [value]="option.value" (click)="selectedType(option)">
                  <img [src]="option.logo" alt="" width="20" height="20"
                    style="margin-right: 8px; vertical-align: middle" />
                  {{ option.name }}
                </mat-option>
              </mat-select>

            </div>
            <div class="col-md-8" *ngIf=" selectedVCS && (selectedVCS === 'github' || selectedVCS === 'gitlab')">
              <div class="d-flex justify-content-between gap-2">
                <div class="w-100">
                  <label class="form-label">Select {{selectedVCS | lowercase}} repo</label>
                  <select formControlName="selectedRepo" id="reposList" class="form-select">
                    <option *ngIf="!reposList || reposList.length === 0" disabled selected>
                      No Repo available
                    </option>
                    <option *ngFor="let option of reposList" [value]="option.id">
                      {{ option.name }}
                    </option>
                  </select>
                </div>
                <div class="w-100">
                  <div class="d-flex justify-content-between auto-scale-toggle">
                    <label class="form-label mx-0">Select the branch
                      <span
                        [cTooltip]="'Enable Auto Deploy to automatically deploys changes when new commits are pushed to the selected branch.'"
                        cTooltipPlacement="top" class="text-warning cursor mx-1">
                        <i class="bi bi-exclamation-circle"></i> </span>
                    </label>
                    <label class="d-flex align-items-center gap-2">
                      <span class="form-label">Auto Deploy</span>
                      <span class="toggle">
                        <input type="checkbox" formControlName="vcsAutoDeploy">
                        <span class="slider"></span>
                      </span>
                    </label>
                  </div>
                  <select formControlName="branchName" id="branchName" class="form-select">
                    <option *ngIf="!branches || branches.length === 0" disabled selected>
                      No branches available
                    </option>
                    <option *ngFor="let option of branches" [value]="option">
                      {{ option }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="isError('branchName', 'required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8" *ngIf="selectedVCS === 'zip' && zipUploadForm.value.zipfileInput">
              <div class="col-md-4">
                <label class="form-label">Zip Filename</label>
                <input type="text" class="form-control" formControlName="zipFilename">
              </div>
            </div>
          </div>
          <div class="border-bottom mb-4">&nbsp;</div>
          <div class="container">
            <div class=" d-flex  justify-content-end align-items-end" style="font-size: 12px;">
              <span class="me-2"><b>Instance Price :</b></span>
              <span>
                {{ formatCurrency(selectedResource?.instanceHourRate, selectedResource?.currency) }} / hr<br>
                {{ formatCurrency((selectedResource?.instanceHourRate || 0) * 730, selectedResource?.currency) }} /mo
              </span>
            </div>
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label">Name <span class="required text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="name" (blur)="checkAvailablity()">
                <div class="text-danger my-1" *ngIf="isError('name', 'required')">
                  This field is required.
                </div>
                <div class="text-danger my-1" *ngIf="isError('name','pattern')">
                  Name must start with a lowercase letter and contain only lowercase letters, numbers, and hyphens (-).
                  Consecutive hyphens, uppercase letters, and names starting with a number or hyphen are not allowed.
                </div>
                <div class="text-danger my-1" *ngIf="isError('name','nameValidation')"> Name is already taken</div>
                <div class="text-danger my-1" *ngIf="isError('name', 'maxlength')">
                  Maximum 40 characters allowed.
                </div>
              </div>
              <div class="col-md-4 auto-scale-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label mx-0" for="replicas">Replicas
                    <span
                        [cTooltip]="'Enable Auto scaling to automatically increase or decrease capacity based on usage'"
                        cTooltipPlacement="top" class="text-warning cursor mx-1">
                        <i class="bi bi-exclamation-circle"></i>
                      </span>
                  </label>
                  <label class="d-flex align-items-center gap-2">
                    <span class="form-label">Auto scaling </span>
                    <span class="toggle">
                      <input type="checkbox" formControlName="hpaEnabled">
                      <span class="slider"></span>
                    </span>
                  </label>
                </div>
                <ng-container *ngIf="!isAutoScaleEnabled">
                  <input type="text" class="form-control" formControlName="replicas" *ngIf="!isAutoScaleEnabled">
                  <div class="text-danger my-1"
                    *ngIf="isError('replicas', 'pattern') && !isError('replicas', 'required') && !isAutoScaleEnabled">
                    Only numbers are allowed.
                  </div>
                </ng-container>
                <ng-container *ngIf="isAutoScaleEnabled">
                  <div class="d-flex justify-content-between gap-2">
                    <div class="w-100">
                      <!-- <label class="form-label">Min</label> -->
                      <input type="text" class="form-control" formControlName="hpaMinReplicas" placeholder="Min">
                      <div class="text-danger my-1" *ngIf="isError('hpaMinReplicas', 'required')">
                        This field is required.
                      </div>
                      <div class="text-danger my-1"
                        *ngIf="isError('hpaMinReplicas', 'pattern') && !isError('hpaMinReplicas', 'required')">
                        Only numbers are allowed.
                      </div>
                      <div class="text-danger my-1"
                        *ngIf="isError('hpaMinReplicas', 'min') && !isError('hpaMinReplicas', 'required')">
                        Minimum value should be 1.
                      </div>
                    </div>
                    <div class="w-100">
                      <!-- <label class="form-label">Max</label> -->
                      <input type="text" class="form-control" formControlName="hpaMaxReplicas" placeholder="Max">
                      <div class="text-danger my-1" *ngIf="isError('hpaMaxReplicas', 'required')">
                        This field is required.
                      </div>
                      <div class="text-danger my-1"
                        *ngIf="isError('hpaMaxReplicas', 'pattern') && !isError('hpaMaxReplicas', 'required')">
                        Only numbers are allowed.
                      </div>
                      <div class="text-danger my-1"
                        *ngIf="isError('hpaMaxReplicas', 'maxLessThanMin') && !isError('hpaMaxReplicas', 'required')">
                        Max value must be greater than min value.
                      </div>
                    </div>
                  </div>
                </ng-container>

              </div>
              <div class="col-md-4">
                <label class="form-label w-100">
                  <div class="d-flex justify-content-between align-items-center text-nowrap">
                    <span>
                      Instance Type <span class="required text-danger">*</span>
                    </span>
                    <span class="text-gray ml-auto text-nowrap">
                      ( <span class="mx-1"><b>CPU:</b> {{selectedResource?.cpuVcpu}}</span>
                      <span class="mx-1"><b>Memory:</b> {{selectedResource?.memoryGb}}</span>
                      )
                    </span>
                  </div>
                </label>
                <select formControlName="instanceType" id="resource" class="form-select">
                  <option *ngFor="let resource of resources" [ngValue]="resource">
                    {{ resource.instanceType }}
                  </option>
                </select>
                <div class="text-danger my-1" *ngIf="isError('instanceType', 'required')">
                  This field is required.
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label">Port </label>
                <input type="text" class="form-control" formControlName="port">
                <div class="text-danger my-1" *ngIf="isError('port', 'maxlength')">
                  Port can have at most 5 digits.
                </div>
                <div class="text-danger my-1" *ngIf="isError('port', 'pattern')">
                  Port must be a number.
                </div>
                <div class="text-danger my-1" *ngIf="isError('port', 'min') || isError('port', 'max')">
                  Invalid Port Number Entered: must be between 1 and 65535.
                </div>
              </div>
              <!-- <div class="col-md-4">
                <label class="form-label">Dockerfile Path
                  <span [cTooltip]="'Please provide the path to the Dockerfile that needs to be deployed.'"
                    cTooltipPlacement="top" class="text-warning cursor mx-1">
                    <i class="bi bi-exclamation-circle"></i>
                  </span>
                </label>
                <input type="text" class="form-control" formControlName="dockerfilePath">
              </div> -->
              <div class="col-md-4">
                <label class="form-label">Folder Path</label>
                <input type="text" class="form-control" formControlName="folderPath">
              </div>
               <div class="col-md-4">
                <label class="form-label">Docker File Name</label>
                <input type="text" class="form-control" formControlName="dockerFileName">
              </div>
              <div class="col-md-4">
                <label class="form-label">Health Endpoint</label>
                <input type="text" class="form-control" formControlName="healthEndpoint" placeholder="/health">
                <div *ngIf="isError('healthEndpoint','maxlength')" class="text-danger my-1">
                  Maximun 250 characters only.
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label w-100">
                  <div class="d-flex justify-content-between align-items-center text-nowrap">
                    <span>
                      Ephemeral Storage
                      <span [cTooltip]="storageValidation" cTooltipPlacement="top" class="text-warning cursor mx-1">
                        <i class="bi bi-exclamation-circle"></i>
                      </span>
                    </span>

                  </div>
                </label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="ephemeralStorage">
                  <span class="input-group-text">Gi</span>
                </div>
                <div class="text-danger my-1" *ngIf="ephemeralExhausted">
                  Ephemeral storage usage exceeded.
                </div>
                <div class="text-danger my-1" *ngIf="isError('ephemeralStorage', 'pattern')">
                  Only numbers are allowed.The value will be considered in 'Gi'.
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="steps[currentStep].label === 'Environment variable'">
      <div class="stepper-body">
        <app-environment-variables (envDetails)="getenvironmentList($event)" [deploymentData]="stepOneForm.value"
          [canAddVariables]="false" [envDataFromParent]="envData" #envDetails></app-environment-variables>
      </div>
    </ng-container>
    <ng-container *ngIf="steps[currentStep].label === 'Secrets'">
      <div class="stepper-body">
        <app-deployment-secrets [deploymentData]="stepOneForm.value" [canAddVariables]="false"
          [secretDataFromParent]="secretData" (secretDetails)="getSecretList($event)"
          #secretDetails></app-deployment-secrets>
      </div>
    </ng-container>
    <ng-container *ngIf="steps[currentStep].label === 'Config as file'">
      <div class="stepper-body">
        <div class="container w-50 my-4">
          <form [formGroup]="fileUploadForm">
            <div class="form-group">
              <label for="fileInput" class="form-label">Select a file to upload (in .yml or .json format) :</label>
              <div class="d-flex align-items-center gap-2">
                <div class="w-100">
                  <input type="file" id="fileInput" formControlName="fileInput" class="form-control"
                    accept=".json,.yml,.yaml" (change)="onFileSelected($event)" />
                  <div
                    *ngIf="fileUploadForm.get('fileInput')?.hasError('invalidFileType') && fileUploadForm.get('fileInput')?.touched"
                    class="text-danger my-2">
                    Invalid file type. Only .yml, .json files are allowed.
                  </div>
                  <div
                    *ngIf="fileUploadForm.get('fileInput')?.hasError('fileSizeExceeded') && fileUploadForm.get('fileInput')?.touched"
                    class="text-danger my-2">
                    File size exceeds the limit of 100MB.
                  </div>
                  <div *ngIf="fileUploadForm.get('fileInput')?.hasError('required')" class="text-danger my-2">
                    File is required.
                  </div>
                </div>
                <div *ngIf="selectedFileName" class="file-preview">
                  <div class="file-content">
                    <div class="file-name">
                      <p class="mb-0"><i class="bi bi-file-earmark-text"></i></p>{{ selectedFileName }}
                    </div>
                    <div class="file-hint">{{ base64Snippet }}</div>
                    <span class="delete-icon" (click)="clearFile()" title="Remove">
                      <i class="bi bi-x-circle-fill"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2">
              <label class="form-label">File Path</label>
              <input type="text" formControlName="filePath" name="filePath" class="form-control"
                (blur)="checkFileAvailble()" />
              <div *ngIf="fileUploadForm.get('filePath')?.hasError('required')" class="text-danger my-2">
                File path is required when a file is uploaded.
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="steps[currentStep].label === 'Review'">
      <app-review-screen [generalDetails]="stepOneForm.value" [envData]="envData" [secretData]="secretData"
        (editSelectedStep)="editSelectedStep($event)" [configFileData]="fileUploadForm.value"
        [selectedRepoName]="selectedRepoName" [isAutoScaleEnabled]="isAutoScaleEnabled"></app-review-screen>
    </ng-container>
  </div>
</div>
<div class="mb-2">
  <div class="stepper-footer d-flex gap-3 justify-content-between">
    <div class="">
      <button class="btn button-format-outline" (click)="prev()" [disabled]="currentStep === 0"
        [attr.title]="(currentStep === 0) ? 'You are not authorized to view that page.' : null"
        *ngIf="currentStep > 0"><i class="bi bi-arrow-left"></i> Previous</button>
    </div>
    <div class="">
      <div class="">
        <button class="btn button-format-solid"
          (click)="next(currentStep === 4 ? 'Submit' : (currentStep === 3 ? 'Review' : 'Save & Continue'))"
          [disabled]="stepOneForm.invalid || submitted || !(permissionService.canWriteGlobal() || permissionService.canAdminGlobal())"
          [attr.title]="(stepOneForm.invalid || submitted || !(permissionService.canWriteGlobal() || permissionService.canAdminGlobal())) ? 'You are not authorized to view that page.' : null">
          {{ currentStep === 4 ? 'Submit' : (currentStep === 3 ? 'Review' : 'Save & Continue') }}
        </button>
      </div>
    </div>
  </div>
  <!-- zip upload modal -->
  <app-modal #zipDeploymentModel [modalConfig]="zipDeploymentConfig">
    <div class="container">
      <form [formGroup]="zipUploadForm">
        <div class="form-group">
          <label for="zipfileInput">Select a file to upload(in .zip, .tar format) :</label>
          <input type="file" id="zipfileInput" formControlName="zipfileInput" class="form-control mt-2"
            [accept]="'.zip,.tar'" (change)="onZipFileSelect($event)" />
          <div
            *ngIf="zipUploadForm.get('zipfileInput')?.hasError('invalidFileType') && zipUploadForm.get('zipfileInput')?.touched"
            class="alert alert-danger mt-4">
            Invalid file type. Only .zip and .tar files are allowed.
          </div>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <button class="btn btn-primary btn-visible-disabled" [disabled]="zipUploadForm.invalid"
            [attr.title]="zipUploadForm.invalid ? 'You are not authorized to view that page.' : null"
            (click)="onZipUpload()">Submit</button>
        </div>
      </form>
    </div>
  </app-modal>