.card-child {
    width: 100%;
    // height: calc(100vh - 400px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

::ng-deep .accordion-button:not(.collapsed) {
    background-color: rgba(233, 131, 29, 0.1);
    color: #ea7131;
}

.custom-label {
    font-size: 13px;
    font-weight: bold;
}

.custom-heading {
    font-weight: bold;
    font-size: 0.9em;
}

.custom-content {
    font-size: 0.8em;
}

.custom-values {
    font-size: 13px;
}

.accordion-gap {
    margin-bottom: 20px;
}

// .d-flex {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     width: 100%;
// }

.ms-auto {
    margin-left: auto;
}

.light-line {
    border: none;
    height: 1px;
    background-color: #b4b3b3;
}



.password-field {
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    width: 300px;
}



.icon-group {
    margin-top: 20px;

    .btn {
        border: 1px solid #000;
        padding: 3px 10px;
        margin: 3px auto;
        font-size: 15px;
        border-radius: 3px;
    }
}

.font-sm {
    font-size: 13px;
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
}


.variable-container {
    background-color: #fff6f1;
    /* light peach background */
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    align-items: center;
}

.variable-name {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.variable-value-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    color: #333;
    
}

.btn-icon {
    background: none;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 0;
}

.dropdown-wrapper {
    text-align: right;
}

.dropdown-menu {
    font-size: 14px;
}

.variable-value-wrapper:hover .toggle-btn {
    visibility: visible;
}

.toggle-btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
}

.variable-value-wrapper span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    display: inline-block;
    text-align: left;
}

.variable-value-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    color: #333;
    min-width: 180px;
    max-width: 250px;
}