<div class="container">
    <c-nav variant="underline-border">
        <c-nav-item>
            <a [cTabContent]="tabContent1" (click)="onTabChange(0)" [tabPaneIdx]="0" cNavLink class="px-4 py-2">
                Settings
            </a>
        </c-nav-item>
        <c-nav-item>
            <a [cTabContent]="tabContent1" (click)="onTabChange(1)" [tabPaneIdx]="1" cNavLink class="px-4 py-2">
                Networking
            </a>
        </c-nav-item>
    </c-nav>

    <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="selectedTabIndex" cRounded="bottom">
        <c-tab-pane class="p-3 preview" role="tabpanel">
            <form [formGroup]="form">
                <!-- <div class="d-flex align-items-center">
                    <div class="tool-text me-3">{{ toolViewName }}</div>
                </div>
                <hr class="mb-2" /> -->
                <div class="row">
                    <div *ngFor="let field of formStructure" class="col-md-6">
                        <label class="form-label text-capitalize d-flex justify-content-between" [for]="field.key">
                            <span>{{ field.label }}<span class="text-danger">*</span></span>
                            <span class="text-gray ml-auto text-nowrap" *ngIf="field.label === 'Instance Type' && selectedResource">
                                (<span class="mx-1"><b>CPU:</b> {{selectedResource.cpuVcpu}}</span>
                                <span class="mx-1"><b>Memory:</b> {{selectedResource.memoryGb}}</span>
                                )
                            </span>
                        </label>
                        <div class="my-1">
                            <ng-container [ngSwitch]="field.type">
                                <input class="form-control" *ngSwitchCase="'text'" [formControlName]="field.key" [id]="field.key" type="text">

                                <div class="position-relative" *ngSwitchCase="'select'">
                                    <select class="form-control" [formControlName]="field.key" [id]="field.key">
                                        <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
                                    </select>
                                    <span class=" d-flex  justify-content-end align-items-end" style="font-size: 12px;" *ngIf="field.label === 'Instance Type' && selectedResource">
                                        <span class="me-2"><b>Instance Price :</b></span>
                                        <span>{{ formatCurrency(hourlyInstanceRate, selectedResource.currency) }} / hr<br>
                                            {{ formatCurrency(monthlyInstanceRate, selectedResource.currency) }} /mo</span>
                                    </span>
                                </div>

                                <div class="input-group" *ngSwitchCase="'password'">
                                    <input id="{{field.key}}" [formControlName]="field.key" [type]="hide[field.key] ? 'password' : 'text'" class="form-control" autocomplete="new-password" />

                                    <span class="input-group-addon">
                                        <i class="positioning glyphicon bi" [ngClass]="{'bi-eye': !hide[field.key], 'bi-eye-slash': hide[field.key]}" (click)="toggleVisibility(field.key)"></i>
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="d-flex justify-content-between  my-4">
                    <button class="btn button-format-outline" (click)="showToolsTable()">
                        <i class="bi bi-arrow-left"></i> Tools list
                    </button>
                </div>
            </form>
        </c-tab-pane>

        <c-tab-pane class="p-3 preview" role="tabpanel">
            <ng-container *ngIf="viewdata">
                <p>We’re enhancing this page to serve you better. Stay tuned</p>
                <!-- <app-tool-networking-view [viewdata]="toolDetails"></app-tool-networking-view> -->
            </ng-container>
        </c-tab-pane>
    </c-tab-content>
</div>