<div class="mt-4" id="network-section">
  <div class="my-2">
    <div class="custom-heading">Public Networking</div>
    <div class="custom-content">Access to this service publicly through HTTP/TCP.</div>

    <div class="w-50 my-3">
      <label class="form-label">Domain</label>
      <div class="input-group">
        <input type="text" class="form-control custom-values"
          [value]="'https://' + networkSettingsForm.get('host')?.value" name="ingressDomain" readonly>
        <button class="btn btn-outline-secondary" type="button" title="Copy domain"
          (click)="copyDomain('https://' + networkSettingsForm.get('host')?.value)">
          <i class="bi bi-clipboard"></i>
        </button>
        <button *ngIf="permissionService.canDeleteForCurrentUser(null, null) || permissionService.canAdminGlobal()" class="btn" title="Delete endpoint" (click)="deleteEndpoint()"> <i
          class="bi bi-x-circle-fill"></i></button>
      </div>
      <div class="text-secondary small" *ngIf="endpointStatus">This domain is {{endpointStatus}}.</div>
    </div>
  </div>
</div>