<ng-container *ngIf="showAddUserSection">
    <label class="title mb-1">Add New User</label>
    <div class="card mb-3 border">
        <div class="card-body pb-0">
            <form [formGroup]="addUserForm" (ngSubmit)="onSubmitAddUser()" class="mb-0">
                <div class="d-flex gap-2 my-2 justify-content-between">
                    <div class="form-group w-100">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control"
                            placeholder="Username *" required />
                        <div *ngIf="addUserForm.get('username')?.touched && addUserForm.get('username')?.invalid"
                            class="text-danger">
                            <small *ngIf="addUserForm.get('username')?.errors?.['required']">Username is
                                required.</small>
                        </div>
                        <div *ngIf="
                    addUserForm.get('username')?.hasError('pattern') &&
                    (addUserForm.get('username')?.touched ||
                      addUserForm.get('username')?.dirty)
                  " class="text-danger mt-1">
                            Username may only contain alphanumeric characters, underlines or hyphens, cannot have
                            consecutive
                            hyphens or underlines, and cannot begin or end with a hyphen or underline.
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-control"
                            placeholder="Email *" required />
                        <div *ngIf="addUserForm.get('email')?.touched && addUserForm.get('email')?.invalid"
                            class="text-danger">
                            <small *ngIf="addUserForm.get('email')?.errors?.['required']">Email is required.</small>
                            <small *ngIf="addUserForm.get('email')?.errors?.['email']">Enter a valid email.</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2 my-2 justify-content-between">
                    <div class="form-group w-100">
                        <label for="email" class="form-label">Select Project</label>
                        <select formControlName="project" id="project" class="form-select">
                            <option *ngIf="!projectList || projectList.length === 0" disabled>
                                No project available
                            </option>
                            <option *ngFor="let option of projectList" [value]="option.id">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group w-100">
                        <label for="email" class="form-label">Select Environment</label>
                        <select formControlName="environment" id="environment" class="form-select">
                            <option *ngIf="!envList || envList.length === 0" disabled>
                                No environment available
                            </option>
                            <option *ngFor="let option of envList" [value]="option.id">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group w-100">
                        <label for="email" class="form-label">Select Access</label>
                        <select formControlName="access" id="access" class="form-select">
                            <option *ngFor="let option of availableAccess" [value]="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="text-right mt-4">
                    <button type="reset" class="btn button-format-outline me-2" (click)="resetForm()">
                        Cancel
                    </button>
                    <button type="submit" class="btn button-format-solid" [disabled]="addUserForm.invalid">
                        Add User
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-container>
<div class="container">
    <!-- <app-ag-grid-table [rowData]="tableData" [columnDefs]="columnDefs" [showProjectButton]="false"
        [showDeployButton]="false" [showAddUser]="!showAddUserSection"
        (addUuserEvent)="addnewUser($event)"></app-ag-grid-table> -->
    <div class="user-list-table">
        <p-table #dt [value]="users" dataKey="name" [tableStyle]="{ 'border': '1px solid #ebf1f6' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">S.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Verified Email</th>
                    <th>Added on</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-expanded="expanded" let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td [ngClass]="user.isVerfied ? 'text-success' : 'text-danger'">{{ user.isVerfied ? 'Verified' :
                        'Unverified' }}</td>
                    <td>{{ user.createdAt | date:'MM/dd/yyyy' }}</td>
                    <td>{{ user.updatedAt | date:'MM/dd/yyyy'}}</td>
                    <td>
                        <button (click)="dt.toggleRow(user)" class="font-sm btn-sm text-primary border mx-2"><i
                                class="pi" [ngClass]="expanded ? 'pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            view</button>
                        <button class="font-sm btn-sm text-primary border"><i class="pi pi-pencil"></i> edit</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-user>
                <tr>
                    <td colspan="7" style="background-color: #fff;">
                        <div class="surface-border policies">
                            <div class="policy-detials">
                                <div class="actions">
                                    <button (click)="toggleAll()">
                                        <i class="bi" [ngClass]="allExpanded ? 'bi-dash' : 'bi-plus'"></i>{{ allExpanded
                                        ?
                                        'Collapse All' : 'Expand
                                        All' }}
                                    </button>
                                </div>

                                <ul class="tree  p-4">
                                    <li *ngFor="let project of projects" class="tree-item">
                                        <span class="caret" (click)="toggle(project)">
                                            <span class="toggle-icon square">
                                                <i class="bi" [ngClass]="project.expanded ? 'bi-dash' : 'bi-plus'"></i>
                                            </span>
                                            {{ project.name }}
                                        </span>
                                        <ul *ngIf="project.expanded">
                                            <li *ngFor="let env of project.environments" class="tree-item">
                                                <span class="caret" (click)="toggle(env)">
                                                    <span class="toggle-icon square">
                                                        <i class="bi"
                                                            [ngClass]="env.expanded ? 'bi-dash' : 'bi-plus'"></i>
                                                    </span>
                                                    {{ env.name }}
                                                </span>
                                                <ul *ngIf="env.expanded">
                                                    <li *ngFor="let perm of env.permissions" class="permission">
                                                        {{ perm.name }}
                                                    </li>
                                                </ul>
                                            </li>
                                            <li *ngFor="let perm of project.permissions" class="permission">
                                                {{ perm.name }}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>