<div class="custom-dropdown d-inline-block"  *ngIf="additionalParam === 'tools'">
  <button #dropdownBtn class="btn btn-icon" type="button" (click)="toggleDropdown($event, dropdownBtn)">
    <i class="bi bi-three-dots-vertical"></i>
  </button>
  <ul *ngIf="isDropdownOpen" #menu class="custom-dropdown-menu floating-dropdown" [ngStyle]="dropdownStyle">
    <li>
      <a class="custom-dropdown-item" (click)="onOptionSelected('view')">View</a>
    </li>
    <li>
      <a class="custom-dropdown-item" (click)="onOptionSelected('edit')">Edit</a>
    </li>
    <li>
      <a class="custom-dropdown-item" (click)="onOptionSelected('delete')">Delete</a>
    </li>
  </ul>
</div>

<div class="custom-dropdown d-inline-block"  *ngIf="additionalParam === 'deployment' || additionalParam === 'llm'">
  <button #dropdownBtnDep class="btn btn-icon" type="button" (click)="toggleDropdown($event, dropdownBtnDep)">
    <i class="bi bi-three-dots-vertical"></i>
  </button>
  <ul *ngIf="isDropdownOpen" #menuDep class="custom-dropdown-menu floating-dropdown" [ngStyle]="dropdownStyle">
    <li>
      <a class="custom-dropdown-item" (click)="viewLogs()">View Logs</a>
    </li>
    <li>
      <a class="custom-dropdown-item" (click)="onOptionSelected('redeploy')">Redeploy</a>
    </li>
    <li>
      <a class="custom-dropdown-item" (click)="onOptionSelected(params?.data?.status === 'Stopped' ? 'Resume' : 'Pause')">{{ params?.data?.status === 'Stopped' ? 'Resume' : 'Pause'}}</a>
    </li>
  </ul>
</div>

<!-- <a *ngIf="additionalParam === 'deployment'" (click)="c" class="text-orange font-sm">View Logs</a> -->

<app-modal #scaleDeploymentsModel [modalConfig]="scaleDeploymentsModelConfig">
  <div class="container">
    <div class="mt-2">
      <label>Replicas</label>
      <input class="form-control" type="text" [(ngModel)]="replicaCount">
    </div>
    <div class="mt-4 text-right">
      <button class="btn btn-secondary mx-2 px-3 py-1" (click)="scaleDeployment()">Scale</button>
      <button class="btn btn-secondary mx-2 px-3 py-1" (click)="closeModal()" aria-label="Cancel">Cancel</button>
    </div>
  </div>
</app-modal>

<app-modal #logsModal [modalConfig]="logsModalConfig">
  <c-nav variant="underline-border" class="d-flex align-items-center w-100">
    <div class="d-flex flex-grow-1">
      <c-nav-item (click)="getLogData(0,'build')">
        <a [cTabContent]="tabContent1" [tabPaneIdx]="0" cNavLink class="px-4 py-2">
          Build log
        </a>
      </c-nav-item>
      <c-nav-item (click)="getLogData(1,'deploy')">
        <a [cTabContent]="tabContent1" [tabPaneIdx]="1" cNavLink class="px-4 py-2">
          Deploy log
        </a>
      </c-nav-item>
    </div>

    <div class="ms-auto theme-toggle">
      <span class="switch-label">Switch mode</span>
      <label class="switch">
        <input type="checkbox" [checked]="isLightMode" (change)="toggleMode($event)">
        <span class="slider">
          <i class="bi bi-moon icon-moon"></i>
          <i class="bi bi-sun icon-sun"></i>
        </span>
      </label>
    </div>
  </c-nav>

  <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="activeTabIndex" cRounded="bottom">
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <div class="log-container" [ngClass]="isLightMode ? 'log-container-light' : 'log-container-dark'">
        <table class="log-table">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Message</th>
            </tr>
          </thead>
        </table>
        <div class="log-body" (scroll)="onScroll($event)" #scrollContainer>
          <table class="log-table">
            <tbody>
              <tr *ngIf="deploymentLogs.length === 0">
                <td colspan="2" style="text-align: center;">No logs available</td>
              </tr>
              <tr *ngFor="let log of paginatedLogs">
                <td>{{ log.timestamp }}</td>
                <td>{{ log.message }}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
      <div class="d-flex justify-content-end gap-3 my-2">
        <button (click)="scrollToTop()" title="Scroll to top" class="btn button-format-solid">
          <i class="bi bi-arrow-up"></i>
        </button>
        <button (click)="scrollToend()" title="Scroll to bottom" class="btn button-format-solid">
          <i class="bi bi-arrow-down"></i>
        </button>
      </div>
    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <div class="log-container" [ngClass]="isLightMode ? 'log-container-light' : 'log-container-dark'">
        <table class="log-table">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Message</th>
            </tr>
          </thead>
        </table>
        <div class="log-body" (scroll)="onScroll($event)">
          <table class="log-table">
            <tbody>
              <tr *ngIf="deploymentLogs.length === 0">
                <td colspan="2" style="text-align: center;">No logs available</td>
              </tr>
              <tr *ngFor="let log of deploymentLogs">
                <td>{{ log.timestamp }}</td>
                <td>{{ log.message }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-end gap-3 my-2">
        <button (click)="scrollToTop()" title="Scroll to top" class="btn button-format-solid">
          <i class="bi bi-arrow-up"></i>
        </button>
        <button (click)="scrollToend()" title="Scroll to bottom" class="btn button-format-solid">
          <i class="bi bi-arrow-down"></i>
        </button>
      </div>
    </c-tab-pane>
  </c-tab-content>
</app-modal>