<form cForm [formGroup]="resourceQuotaForm" (ngSubmit)="onSubmit()">
<div class="d-flex gap-3 mb-4 mt-4 label"><b>Resource Limits</b></div>
<div formGroupName="ram" class="d-flex gap-3 mb-4 mt-4">
  <label for="current_ram" class="label-quota">Max RAM </label>
  <input id="current_ram" type="range" [min]="resourceQuotaForm.get('ram.min_ram')?.value" 
  [max]="resourceQuotaForm.get('ram.max_ram')?.value" (input)="updateRAM($event)"  formControlName="current_ram"/>
  <span><small>{{ resourceQuotaForm.get('ram.max_ram')?.value }}  {{resourceQuotaForm.get('ram.unit')?.value}}</small></span>
</div>
<div formGroupName="cpu" class="d-flex gap-3 mb-4 "> 
  <label for="current_cpu" class="label-quota">Max CPU</label>
  <input id="current_cpu" type="range" [min]="resourceQuotaForm.get('cpu.min_cpu')?.value"
   [max]="resourceQuotaForm.get('cpu.max_cpu')?.value" step="0.5" (input)="updateCPU($event)" formControlName="current_cpu"/>
  <span><small>{{ resourceQuotaForm.get('cpu.max_cpu')?.value }}  {{resourceQuotaForm.get('cpu.unit')?.value}}</small></span>
</div>
<div formGroupName="storage" class="d-flex gap-3 mb-4 ">
  <label for="current_storage" class="label-quota">Max Storage</label>
  <input id="current_storage" type="range" [min]="resourceQuotaForm.get('storage.min_storage')?.value" 
  [max]="resourceQuotaForm.get('storage.max_storage')?.value" step="0.5" (input)="updateStorage($event)" formControlName="current_storage"/>
  <span><small>{{ resourceQuotaForm.get('storage.max_storage')?.value }}  {{resourceQuotaForm.get('storage.unit')?.value}}</small></span>
</div>
<div class="d-flex justify-content-end">
  <button type="submit" class="btn btn-primary w-20 custom-margin" *ngIf="showButton">Save</button>
</div>
</form>