<div class="raw-editor-container">
    <div class="tab-container">
        <button class="tab-button" data-testid="raw-editor-tab-env" [class.active]="activeTab === 'env'" (click)="activeTab = 'env'">
            ENV
        </button>
        <button class="tab-button" data-testid="raw-editor-tab-json" [class.active]="activeTab === 'json'" (click)="activeTab = 'json'">
            JSON
        </button>
    </div>

    <div class="editor-wrapper">
        <!-- <pre class="highlighted" [innerHTML]="highlightedContent"></pre> -->

        <!-- <div class="highlight-layer" [innerHTML]="highlightedText"></div> -->
        <textarea class="editor-textarea" data-testid="raw-editor-textarea" [ngModel]="activeTab === 'env' ? envData : jsonData"
            (ngModelChange)="onDataChange($event)">
        </textarea>
    </div>
    <p>
        <small class="text-danger" *ngIf="activeTab === 'env' && !isEnvValid">
            {{ envFormatError }}
        </small>
        <small class="text-danger" *ngIf="activeTab === 'json' && !isJsonValid">
            {{ jsonFormatError }}
        </small>
    </p>
    <div class="button-container">
        <span class="copy-button" (click)="copyToClipboard()">
            Copy ENV
            <span *ngIf="copied" class="popover-message right">Copied!</span>
        </span>
        <div class="action-buttons">
            <button class="cancel-button" data-testid="raw-editor-cancel" (click)="closeRawEditor()">Cancel</button>
            <button class="btn btn-primary" data-testid="raw-editor-update" (click)="updateVariables()"
                [disabled]="(activeTab === 'json' && !isJsonValid) || (activeTab === 'env' && !isEnvValid)">Update
                Variables</button>
        </div>
    </div>
</div>