<div class="raw-editor-container">
    <div class="tab-container">
        <button class="tab-button" [class.active]="activeTab === 'env'" (click)="activeTab = 'env'">
            ENV
        </button>
        <button class="tab-button" [class.active]="activeTab === 'json'" (click)="activeTab = 'json'">
            JSON
        </button>
    </div>

    <div class="editor-wrapper">
        <!-- <pre class="highlighted" [innerHTML]="highlightedContent"></pre> -->
       
        <!-- <div class="highlight-layer" [innerHTML]="highlightedText"></div> -->
        <textarea class="editor-textarea" [ngModel]="activeTab === 'env' ? envData : jsonData"
            (ngModelChange)="onDataChange($event)">
        </textarea>
    </div>

    <div class="button-container">
        <span class="copy-button" (click)="copyToClipboard()">
            Copy ENV
            <span *ngIf="copied" class="popover-message right">Copied!</span>
          </span>
        <div class="action-buttons">
            <button class="cancel-button" (click)="closeRawEditor()">Cancel</button>
            <button class="btn btn-primary" (click)="updateVariables()"
                [disabled]="activeTab === 'json' && !isJsonValid">Update Variables</button>
        </div>
    </div>
</div>