<div *ngIf="loading" class="loader-backdrop">
    <div class="loader-box">
        <div class="spinner"></div>
        <p>Please wait while we process your request...</p>
    </div>
</div>

<div class="d-flex align-items-center vh-100 section">
    <div class="text-center align-items-center w-100">
        <div class="my-4">
            <img src="assets/images/logo-dark.png" class="sidebar-brand-narrow" />
        </div>
        <h1>Deploy Smarter. Start Now</h1>
        <p>
            Create your account and streamline your application delivery pipeline.
        </p>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-white p-3 w-100">
        <ng-container *ngIf="!isRegistrationSuccess; else successContent">
            <h2 class="my-4">
                <b>Forgot Password</b>
            </h2>

            <div class="d-flex justify-content-center align-items-center">
                <div class="rounded" style="width: 500px">
                    <div class="card-body">
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
                            <!-- <div class="form-group mb-3">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-person"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Username or Email*"
                                        formControlName="username" />
                                </div>
                                <div *ngIf="
                    forgotPasswordForm.get('username')?.hasError('required') &&
                    (submitted ||
                      forgotPasswordForm.get('username')?.touched ||
                      forgotPasswordForm.get('username')?.dirty)
                  " class="text-danger mt-1">
                                    Username is required.
                                </div>
                            </div> -->
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-lock"></i>
                                    </span>
                                    <input [type]="visiblePasswordFields.has('password') ? 'text' : 'password'"
                                        class="form-control" placeholder="New Password *" formControlName="password" />
                                    <span class="input-group-text password-toggle" style="cursor: pointer"
                                        (click)="togglePasswordVisibility('password')">
                                        <i class="bi"
                                            [ngClass]="visiblePasswordFields.has('password') ? 'bi-eye-slash' : 'bi-eye'"></i>
                                    </span>
                                </div>
                                <div *ngIf="
                    forgotPasswordForm.get('password')?.hasError('required') &&
                    (submitted ||
                      forgotPasswordForm.get('password')?.touched ||
                      forgotPasswordForm.get('password')?.dirty) " class="text-danger mt-1">
                                    Password is required.
                                </div>
                                <div class="text-danger mt-1" *ngIf="
                    forgotPasswordForm.get('password')?.hasError('pattern') &&
                    (submitted ||
                      forgotPasswordForm.get('password')?.touched ||
                      forgotPasswordForm.get('password')?.dirty) " class="text-danger mt-1">
                                    Password must be at least 8 characters long and include at
                                    least one uppercase letter, one lowercase letter, one number,
                                    and one special character.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-lock"></i>
                                    </span>
                                    <input [type]="visiblePasswordFields.has('confirmPassword') ? 'text' : 'password'"
                                        class="form-control" placeholder="Confirm New Password *"
                                        formControlName="confirmPassword" />
                                    <span class="input-group-text password-toggle" style="cursor: pointer"
                                        (click)="togglePasswordVisibility('confirmPassword')">
                                        <i class="bi"
                                            [ngClass]="visiblePasswordFields.has('confirmPassword') ? 'bi-eye-slash' : 'bi-eye'"></i>
                                    </span>
                                </div>
                                <div *ngIf="
                    forgotPasswordForm.get('confirmPassword')?.hasError('required') &&
                    (submitted ||
                      forgotPasswordForm.get('confirmPassword')?.touched ||
                      forgotPasswordForm.get('confirmPassword')?.dirty) " class="text-danger mt-1">
                                    Password is required.
                                </div>
                                <div class="text-danger mt-1" *ngIf="
                    forgotPasswordForm.get('confirmPassword')?.hasError('pattern') &&
                    (submitted ||
                      forgotPasswordForm.get('confirmPassword')?.touched ||
                      forgotPasswordForm.get('confirmPassword')?.dirty) " class="text-danger mt-1">
                                    Password must be at least 8 characters long and include at
                                    least one uppercase letter, one lowercase letter, one number,
                                    and one special character.
                                </div>
                                <div class="text-danger mt-1" *ngIf="
                    forgotPasswordForm.hasError('passwordMismatch') &&
                    (submitted ||
                      forgotPasswordForm.get('confirmPassword')?.touched ||
                      forgotPasswordForm.get('confirmPassword')?.dirty) ">
                                    Passwords do not match.
                                </div>
                            </div>

                            <div class="d-grid my-3">
                                <button type="submit" class="btn btn-submit p-2">
                                    Submit
                                </button>
                            </div>
                            <div class="text-center ">
                                <p class="text-center">
                                    Already have an account?
                                    <a routerLink="/login" class="text-decoration-none text-orange">Sign in</a>
                                <p class="text-center">
                                    Create an account?
                                    <a href="https://nimbuz.tech/lead-form.html"
                                        class="text-decoration-underline text-orange">
                                        Submit a request here</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #successContent>
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="mx-5 text-center">
                    <h4 class="text-success">Success!</h4>
                    <div *ngFor="let line of successMessage.split('\\n')">
                        <p>{{ line }}</p>
                    </div>
                    <a routerLink="/login" class="btn btn-link mt-3">Back to Login</a>
                </div>
            </div>
        </ng-template>
    </div>
</div>