<div>
  <!-- <div class="d-flex justify-content-end align-items-center mb-2 btn-section">
    <button class="btn btn-primary mx-2" (click)="goToProjects()"><i class="bi bi-plus"></i> New
      Project</button>
    <button class="btn btn-primary" (click)="goToNewDeployModel()"><i class="bi bi-plus"></i> New
      Deploy</button>    
  </div> -->

  <!-- <div class="card border-0 shadow-none position-relative overflow-hidden mb-2">
    <div class="card-body px-4 py-3">
      <div class="row ">
        
      </div>
    </div>
  </div> -->
   <div *ngIf="loading" class="loader-backdrop">
    <div class="loader-box">
        <div class="spinner"></div>
        <p>Please wait while we process your request...</p>
      </div>
  </div>
  <c-alert color="warning" *ngIf="deploymentsExhausted">
    <div class="warn-text">
      <i class="bi bi-exclamation-circle-fill"></i> Deployments count has exhausted. Please upgrade to nimbuz business
    </div>
  </c-alert>
  <div>
    <app-ag-grid-table [rowData]="tableData" [columnDefs]="columnDefs" [showProjectButton]="true"
      [showDeployButton]="!deploymentsExhausted" (goToNewDeployModel)="goToNewDeployModel()"></app-ag-grid-table>
  </div>
</div>


<!-- <div class="row">
    <div class="col-4 my-2" *ngFor="let data of tableData">
      <div class="card h-100">
        <div class="card-body d-flex flex-column p-0">
          <div class="d-flex justify-content-between align-items-start w-100 h-100">
            <div class="mh-100">
              <p class="card-title text-capitalize m-0 fs-2">{{ data.name }}</p>
              <p class="m-0 text-start text-nowrap text-gray fs-12px"> {{ data.namespace }}</p>
            </div>
            <button class="btn bg-success-subtle text-sm">Run</button>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <p class="text-gray fs-13px mt-auto mb-0">{{ data.createdAt| date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->


<app-modal #deployGitHubReposModel [modalConfig]="deployGitHubReposConfig">
  <div class="container">
    <div class="mt-2">
      <label>Repositories</label>
      <select [(ngModel)]="selectedRepo" class="form-control mt-2" (change)="onDropdownChange()">
        <option value="" disabled>Select a repository</option>
        <option *ngFor="let repo of reposList" [ngValue]="repo">{{repo?.name}}</option>
      </select>
    </div>
    <div class="mt-4 text-right">
      <button class="btn btn-primary mx-2 px-3 py-1" (click)="createDeployment()"
        [disabled]="isDisabled">Deploy</button>
      <button class="btn btn-secondary mx-2 px-3 py-1" (click)="closeModal()" aria-label="Cancel">Cancel</button>
    </div>
  </div>
</app-modal>

<app-modal #newDeployModel [modalConfig]="newDeployConfig">
  <div class="container">
    <!-- <p>Deploy your app to production effortlessly</p> -->
    <div class="mt-2">
      <ng-container *ngIf="!showconfig">
        <div class="bg-gray-900 p-6 rounded-lg max-w-md mx-auto">
          <h6 class="text-lg font-semibold mb-4">Choose a deployment type</h6>
          <ul class="deployOptions">
            <li *ngFor="let type of deployOptions" (click)="selectDeployType(type.name)">
              <i class="bi" [ngClass]="type.icon" [style.color]="type.color"></i> {{ type.name }}
            </li>
          </ul>
        </div>
      </ng-container>


      <ng-container *ngIf="showconfig">
        <div class="bg-gray-900 p-6 rounded-lg max-w-md mx-auto">
          <h6 class="text-xl font-semibold text-white mb-4 text-center">Deployment Configuration</h6>

          <form [formGroup]="deployForm" class="space-y-4">

            <div class="grid grid-cols-1 gap-1">
              <label class="text-gray-300 font-medium">Replicas</label>
              <input type="text" formControlName="replicas" placeholder="Enter replicas"
                class="w-full p-3 bg-gray-800 text-white rounded-lg border border-gray-700 focus:ring focus:ring-indigo-500 outline-none" />
            </div>

            <div class="grid grid-cols-1 gap-1">
              <label class="text-gray-300 font-medium">Instance Type</label>
              <input type="text" formControlName="instanceType" placeholder="Enter instance type"
                class="w-full p-3 bg-gray-800 text-white rounded-lg border border-gray-700 focus:ring focus:ring-indigo-500 outline-none" />
            </div>

            <div class="grid grid-cols-1 gap-1">
              <label class="text-gray-300 font-medium">Build Command</label>
              <input type="text" formControlName="buildCmd" placeholder="Enter build command"
                class="w-full p-3 bg-gray-800 text-white rounded-lg border border-gray-700 focus:ring focus:ring-indigo-500 outline-none" />
            </div>

            <div class="grid grid-cols-1 gap-1">
              <label class="text-gray-300 font-medium">Start Command</label>
              <input type="text" formControlName="startCmd" placeholder="Enter start command"
                class="w-full p-3 bg-gray-800 text-white rounded-lg border border-gray-700 focus:ring focus:ring-indigo-500 outline-none" />
            </div>

            <div class="grid grid-cols-1 gap-1">
              <label class="text-gray-300 font-medium">Environment Variables</label>
              <input type="text" formControlName="environmentVariables" placeholder="Enter environment variables"
                class="w-full p-3 bg-gray-800 text-white rounded-lg border border-gray-700 focus:ring focus:ring-indigo-500 outline-none" />
            </div>

            <div class="grid grid-cols-1 gap-1">
              <label class="text-gray-300 font-medium">Ephemeral Storage</label>
              <input type="text" formControlName="ephStorage" placeholder="Enter ephemeral storage"
                class="w-full p-3 bg-gray-800 text-white rounded-lg border border-gray-700 focus:ring focus:ring-indigo-500 outline-none" />
            </div>

          </form>
        </div>
      </ng-container>
    </div>
    <div class="mt-4 text-right">
      <button class="btn btn-primary mx-2 px-3 py-1" (click)="createDeployment()"
        [disabled]="isDisabled">Deploy</button>
      <button class="btn btn-secondary mx-2 px-3 py-1" (click)="closeNewDeployModel()"
        aria-label="Cancel">Cancel</button>
    </div>
  </div>
</app-modal>

<!-- <app-modal #deployementDetailsModel [modalConfig]="modalConfig">
  <app-deployment-details (closeModalEvent)="closeDetailsModal()"></app-deployment-details>
</app-modal> -->