<div class="container mt-2">
    <hr>
    <form [formGroup]="environmentForm">
        <div class="mb-4">
            <div class="header-text-format">Project</div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <label for="project" class="text-format mt-2 d-flex align-items-center">Project Name</label>
                    <select class="form-select" formControlName="project" name="project"
                        placeholder="Select project name">
                        <option *ngFor="let data of projectList" [value]="data.id">{{ data.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="mb-4">
            <div class="header-text-format">Environment</div>
            <div class="d-flex gap-2 mt-3">
                <div class="flex-fill">
                    <label for="environmentName" class=" text-format mt-2 d-flex align-items-center">Environment Name
                        <span class="text-danger">*</span>
                        <!-- <span cTooltipPlacement="top" class="text-warning mx-2 cursor">
                            <i class="bi bi-exclamation-circle"></i>
                        </span> -->
                    </label>
                    <input type="text" id="name" name="name" placeholder="Enter environment name" formControlName="name"
                        class="form-control  text-format">
                    <div *ngIf="environmentForm.get('name')?.invalid && environmentForm.get('name')?.touched"
                        class="text-danger text-format">
                        <small *ngIf="environmentForm.get('name')?.hasError('required')">This is a required field
                        </small>
                        <small *ngIf="environmentForm.get('name')?.hasError('invalidName')">Environment name is
                            invalid
                        </small>
                        <div *ngIf="environmentForm.get('name')?.hasError('minlength')" class="text-danger my-1">
                            Project name must be at least 3 characters long.
                        </div>
                        <small *ngIf="environmentForm.get('name')?.hasError('maxlength')">
                            Maximun 40 characters only.
                        </small>
                        <small *ngIf="environmentForm.get('name')?.hasError('uniqueName')">
                            Name already exists. Please choose a different name.
                        </small>
                    </div>
                </div>
                <div class="flex-fill spacing-left">
                    <label for="region" class="text-format mt-2 d-flex align-items-center">Region (optional)</label>
                    <select formControlName="region" class="form-control text-format">
                        <option *ngFor="let region of regionOptions" [value]="region.name">
                            {{region?.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <!-- <c-accordion>
            <c-accordion-item #item5="cAccordionItem" [visible]="true">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item5.toggleItem()" [collapsed]="!item5.visible" cAccordionButton>
                        Resource limits
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <div class="accordion-body">
                        <form cForm [formGroup]="resourceQuotaForm">
                            <div class="resource-grid">
                                <div class="resource-card outline-blue text-format">
                                    <label for="memoryMaxUserLimit">Max <b>RAM</b></label>
                                    <div class="input-slider-container slider-row">
                                        <input id="memoryMaxUserLimit" type="range" class="custom-range-blue" [min]="0"
                                            [max]="resourceQuotaForm.get('memoryMaxPlatformLimit')?.value"
                                            formControlName="memoryMaxUserLimit" />
                                        <span class="mx-2 value-display">{{
                                            resourceQuotaForm.get('memoryMaxPlatformLimit')?.value }} GB</span>
                                    </div>
                                    <div class="d-flex justify-content-between my-4 custom-ram-label">
                                        <span><small>{{ resourceQuotaForm.get('memoryMaxUserLimit')?.value }}
                                                GB</small></span>
                                    </div>
                                </div>
                                <div class="resource-card outline-green text-format">
                                    <label for="cpuMaxUserLimit">Max <b>CPU</b></label>
                                    <div class="input-slider-container slider-row">
                                        <input id="cpuMaxUserLimit" type="range" step="0.5" class="custom-range-green"
                                            [min]="0" [max]="resourceQuotaForm.get('cpuMaxPlatformLimit')?.value"
                                            formControlName="cpuMaxUserLimit" />
                                        <span class="mx-2 value-display">{{
                                            resourceQuotaForm.get('cpuMaxPlatformLimit')?.value }} vCPU</span>
                                    </div>
                                    <div class="d-flex justify-content-between my-4 custom-cpu-label">
                                        <span><small>{{ resourceQuotaForm.get('cpuMaxUserLimit')?.value }}
                                                vCPU</small></span>
                                    </div>
                                </div>
                                <div class="resource-card outline-orange text-format">
                                    <label for="ephemeralStorageMaxUserLimit">Max <b>Storage</b></label>
                                    <div class="input-slider-container slider-row">
                                        <input id="ephemeralStorageMaxUserLimit" type="range"
                                            class="custom-range-orange" [min]="0"
                                            [max]="resourceQuotaForm.get('ephemeralStorageMaxPlatformLimit')?.value"
                                            formControlName="ephemeralStorageMaxUserLimit" />
                                        <span class="mx-2 value-display">{{
                                            resourceQuotaForm.get('ephemeralStorageMaxPlatformLimit')?.value }}
                                            GB</span>
                                    </div>
                                    <div class="d-flex justify-content-between my-4 custom-storage-label">
                                        <span><small>{{ resourceQuotaForm.get('ephemeralStorageMaxUserLimit')?.value }}
                                                GB</small></span>
                                    </div>
                                </div>
                                <div class="resource-card outline-orange text-format">
                                    <label for="pvcStorageMaxUserLimit">Max <b>persisitanceVolumeClaims</b></label>
                                    <div class="input-slider-container slider-row">
                                        <input id="pvcStorageMaxUserLimit" type="range" class="custom-range-orange"
                                            [min]="0" [max]="resourceQuotaForm.get('pvcStorageMaxPlatformLimit')?.value"
                                            formControlName="pvcStorageMaxUserLimit" />
                                        <span class="mx-2 value-display">{{
                                            resourceQuotaForm.get('pvcStorageMaxPlatformLimit')?.value }} GB</span>
                                    </div>
                                    <div class="d-flex justify-content-between my-4 custom-storage-label">
                                        <span><small>{{ resourceQuotaForm.get('pvcStorageMaxUserLimit')?.value }}
                                                GB</small></span>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="d-flex justify-content-center mt-5" *ngIf="!isBusiness">
                            <a class="link">
                                Upgrade to Nimbuz Business to enable the resource limits.
                            </a>
                        </div>
                    </div>
                </ng-template>
            </c-accordion-item>
        </c-accordion> -->

        <div class="d-flex justify-content-end  mt-4">
            <button type="button" class="btn button-format-outline mx-2" (click)="goBack()">Cancel</button>
            <button type="submit" class="btn button-format-solid" [disabled]="environmentForm.invalid"
                (click)="createEnvironment()">Create Environment</button>
        </div>
    </form>
</div>