:host {
	display: block;
}

.custom-heading {
	color: #001225;
	font-family: 'plusFont', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.custom-content {
	color: #001225;
	margin: 10px 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.custom-values {
	font-size: 15px;
}

.input-group .btn {
	&:focus {
		box-shadow: none;
	}
}

.btn-primary {

	&:active,
	&.active {
		background-color: #F60 !important;
		border-color: #F60 !important;
	}
}

.custom-domain-section {
	background: #F8F8F8;
	margin: 10px auto;
}

.font-bold {
	font-weight: 600;
	font-size: 14px;
}

.ports-section {
	display: flex;
	gap: 15px;
	margin-top: 25px;
}

.port-box {
	flex: 1;
	background: #f7fafc;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

.port-label {
	font-size: 0.8rem;
	color: #718096;
	margin-bottom: 5px;
	font-weight: 600;
}

.port-value {
	font-size: 1rem;
	font-weight: 700;
	color: #333;
}
