<div class="container">
    <c-nav variant="underline-border">
        <c-nav-item>
            <a [cTabContent]="tabContent1" (click)="onTabChange(0)" [tabPaneIdx]="0" cNavLink
                class="px-4 py-2">Settings</a>
        </c-nav-item>
        <c-nav-item>
            <a [cTabContent]="tabContent1" (click)="onTabChange(1)" [tabPaneIdx]="1" cNavLink
                class="px-4 py-2">Networking</a>
        </c-nav-item>
        <!-- <c-nav-item>
            <a [cTabContent]="tabContent1" (click)="onTabChange(2)" [tabPaneIdx]="2" cNavLink
                class="px-4 py-2">Monitoring</a>
        </c-nav-item> -->
        <c-nav-item>
            <a [cTabContent]="tabContent1" (click)="onTabChange(2)" [tabPaneIdx]="2" cNavLink
                class="px-4 py-2">Metrics</a>
        </c-nav-item>
    </c-nav>

    <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="selectedTabIndex" cRounded="bottom">
        <c-tab-pane class="p-3 preview" role="tabpanel">
            <form [formGroup]="form">
                <!-- <div class="d-flex align-items-center">
                    <div class="tool-text me-3">{{ toolViewName }}</div>
                </div>
                <hr class="mb-2" /> -->
                <div class="row">
                    <div *ngFor="let field of formStructure" class="col-md-6 mt-2">
                        <label class="form-label text-capitalize d-flex justify-content-between" [for]="field.key">
                            <span>{{ field.label }}<span class="text-danger">*</span></span>
                            <span class="text-gray ml-auto text-nowrap"
                                *ngIf="field.function === 'resource' && selectedResource[field.label]">
                                ( <span class="mx-1"><b>CPU:</b> {{selectedResource[field.label]?.cpuVcpu}}</span>
                                <span class="mx-1"><b>Memory:</b> {{selectedResource[field.label]?.memoryGb}}</span>
                                )
                            </span>
                        </label>
                        <ng-container [ngSwitch]="field.type">
                            <input class="form-control" *ngSwitchCase="'disabled'" [formControlName]="field.key"
                                [id]="field.key" type="text" [value]="field.key" [readonly]="!field.update || isToolStopped">
                            <input class="form-control" *ngSwitchCase="'text'" [formControlName]="field.key"
                                [id]="field.key" type="text" placeholder="{{field.placeholder}}"
                                [readonly]="!field.update || isToolStopped">

                            <div class="input-group" *ngSwitchCase="'password'">
                                <input id="{{field.key}}" [formControlName]="field.key"
                                    [type]="hide[field.key] ? 'password' : 'text'" class="form-control"
                                    autocomplete="new-password" [readonly]="!field.update || isToolStopped" />

                                <span class="input-group-addon">
                                    <i class="positioning glyphicon bi"
                                        [ngClass]="{'bi-eye': !hide[field.key], 'bi-eye-slash': hide[field.key]}"
                                        (click)="toggleVisibility(field.key)"></i>
                                </span>
                            </div>

                            <div class="position-relative" *ngSwitchCase="'select'">
                                <select class="form-select" [formControlName]="field.key" [id]="field.key"
                                    (change)="onFieldChange($event,field.function, field.label)" [disabled]="!field.update || isToolStopped">
                                    <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
                                </select>
                                <span class=" d-flex  justify-content-end align-items-end" style="font-size: 12px;"
                                    *ngIf="field.function === 'resource' && selectedResource[field.label]">
                                    <span class="me-2"><b>Instance Price :</b></span>
                                    <span>{{ formatCurrency(selectedResource[field.label]?.instanceHourRate || 0,
                                        selectedResource[field.label]?.currency || 'USD')
                                        }} / hr<br>{{ formatCurrency(getMonthlyRate(field.label),
                                        selectedResource[field.label]?.currency || 'USD') }} /mo</span>
                                </span>
                            </div>
                        </ng-container>

                        <div *ngIf="form.get([field.key])?.errors?.['regex'] && (form.get([field.key])?.touched || submitted)"
                            class="text-danger mt-1">
                            {{ form.get([field.key])?.errors?.['regex']}}
                        </div>

                        <small
                            *ngIf="form.get([field.key])?.errors?.['required'] && (form.get([field.key])?.touched || submitted)"
                            class="text-danger mt-1">This field is required.</small>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="d-flex justify-content-between  my-4"></div>
                <div class="d-flex justify-content-between  my-4">
                    <button class="btn button-format-outline" (click)="showToolsTable()"><i
                            class="bi bi-arrow-left"></i> Tools list</button>
                    <div><button class="btn button-format-solid" (click)="onSubmit()" [disabled]="isToolStopped">Update</button></div>
                </div>
            </form>
        </c-tab-pane>

        <c-tab-pane class="p-3 preview" role="tabpanel">
            <ng-container *ngIf="toolDetails">
                <!-- <p class="text-center m-4">We’re enhancing this page to serve you better. Stay tuned</p> -->
                <app-tool-networking-view [viewdata]="toolDetails" [allowGenerate]="!isToolStopped" [readOnlyMode]="isToolStopped"
                    (generateHost)="onGenerateHost()"></app-tool-networking-view>
            </ng-container>
        </c-tab-pane>
        <!-- <c-tab-pane class="p-3 preview" role="tabpanel">
            <ng-container *ngIf="selectedTabIndex === 2">
                <app-tool-monitoring [toolName]="toolViewName" [toolDetails]="toolDetails"></app-tool-monitoring>
            </ng-container>
        </c-tab-pane> -->
        <c-tab-pane class="p-3 preview" role="tabpanel">
            <ng-container *ngIf="selectedTabIndex === 2">
                <app-tool-metrics [toolName]="toolViewName" [toolDetails]="toolDetails"
                    [deploymentId]="deploymentId">
                </app-tool-metrics>
            </ng-container>
        </c-tab-pane>
    </c-tab-content>
</div>
