<div class="container mt-2">
    <ng-container *ngIf="projectExhausted || environmentExhausted">
        <c-alert color="warning">
            <div class="d-flex align-items-center gap-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 48 47" fill="none">
                    <rect width="48" height="47" rx="23.5" fill="#FF9800" />
                    <path
                        d="M22.4 28.8H25.6V32H22.4V28.8ZM22.4 16H25.6V25.6H22.4V16ZM23.984 8C15.152 8 8 15.168 8 24C8 32.832 15.152 40 23.984 40C32.832 40 40 32.832 40 24C40 15.168 32.832 8 23.984 8ZM24 36.8C16.928 36.8 11.2 31.072 11.2 24C11.2 16.928 16.928 11.2 24 11.2C31.072 11.2 36.8 16.928 36.8 24C36.8 31.072 31.072 36.8 24 36.8Z"
                        fill="white" />
                </svg>

                <div class="warn-text">
                    <p class="title">Note</p>
                    <ng-container *ngIf="projectExhausted || environmentExhausted">
                        Limit Reached: 2 projects and 5 environments. Upgrade to Nimbuz Business for more capacity and
                        features.
                    </ng-container>
                </div>
            </div>
        </c-alert>
    </ng-container>
    <hr>
    <form [formGroup]="projectForm">
        <div class="mb-4">
            <div class="header-text-format">Project</div>
            <div class="d-flex gap-2 mt-3">
                <div class="flex-fill">
                    <label for="projectName" class="text-format mt-2 d-flex align-items-center">Name
                        <span [cTooltip]="nameValidation" cTooltipPlacement="top" class="text-warning mx-2 cursor">
                            <i class="bi bi-exclamation-circle"></i>
                        </span>
                    </label>
                    <input type="text" id="projectName" name="projectName" placeholder="Enter project name"
                        formControlName="projectName" class=" form-control text-format textbox-width-sm">
                    <div *ngIf="projectForm.get('projectName')?.hasError('required')" class="text-danger my-1">
                        Project name is required.
                    </div>
                    <div *ngIf="projectForm.get('projectName')?.hasError('maxlength')" class="text-danger my-1">
                        Maximun 50 characters only.
                    </div>
                    <div *ngIf="projectForm.get('projectName')?.hasError('minlength')" class="text-danger my-1">
                        Project name must be at least 3 characters long.
                    </div>
                    <div *ngIf="projectForm.get('projectName')?.hasError('invalidName') && projectForm.get('projectName')?.touched"
                        class="text-danger text-format">
                        Project name can only contain alphabets, numbers and hyphens
                    </div>
                    <div *ngIf="projectForm.get('projectName')?.hasError('whitespace') && projectForm.get('projectName')?.touched"
                        class="text-danger text-format">
                        Project name cannot be empty.
                    </div>
                    <div *ngIf="projectForm.get('projectName')?.hasError('uniqueName') && projectForm.get('projectName')?.touched"
                        class="text-danger mt-1">
                        Name already exists. Please choose a different name.
                    </div>
                </div>
                <div class="flex-fill">
                    <label for="projectDesc" class="text-format mt-2">Description </label>
                    <input type="text" id="projectDesc" name="projectDesc" placeholder="Enter description"
                        formControlName="projectDesc" class="form-control text-format" maxlength="250">
                    <div *ngIf="projectForm.get('projectDesc')?.hasError('maxlength') && projectForm.get('projectDesc')?.touched"
                        class="text-danger my-1">
                        Maximum 250 characters only.
                    </div>
                    <!-- <div *ngIf="projectForm.get('projectDesc')?.hasError('required') && projectForm.get('projectDesc')?.touched" class="text-danger my-1">
                        Description is required.
                    </div> -->
                </div>
            </div>

        </div>
        <hr>
        <div class="mb-4">
            <div class="header-text-format">Environment</div>
            <div class="d-flex gap-2 mt-3">
                <div class="flex-fill">
                    <label for="environmentName" class=" text-format mt-2 d-flex align-items-center">Name
                        <span [cTooltip]="nameValidation" cTooltipPlacement="top" class="text-warning mx-2 cursor">
                            <i class="bi bi-exclamation-circle"></i>
                        </span>
                    </label>
                    <input type="text" id="environmentName" name="environmentName" placeholder="Enter environment name"
                        formControlName="environmentName" class="form-control  text-format">
                    <div *ngIf="projectForm.get('environmentName')?.hasError('required')" class="text-danger my-1">
                        Environment name is required.
                    </div>
                    <div *ngIf="projectForm.get('environmentName')?.hasError('maxlength')" class="text-danger my-1">
                        Maximun 50 characters only.
                    </div>
                    <div *ngIf="projectForm.get('environmentName')?.hasError('invalidName') && projectForm.get('environmentName')?.touched"
                        class="text-danger text-format">
                        Environment name is invalid
                    </div>
                </div>
                <div class="flex-fill spacing-left">
                    <label for="region" class="text-format mt-2 d-flex align-items-center">Region (optional)</label>
                    <select formControlName="region" class="form-control text-format">
                        <option *ngFor="let region of regionOptions" [value]="region.name">{{region?.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- <c-accordion>
            <c-accordion-item #item0="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button class="header-text-format" (click)="item0.toggleItem()" [collapsed]="!item0.visible"
                        cAccordionButton>
                        Configure (Resource limits)
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <div class="accordion-body">
                        <form cForm [formGroup]="resourceQuotaForm">
                            <div class="resource-grid">
                                <div class="resource-card outline-blue text-format">
                                    <div formGroupName="ram">
                                        <label for="current_ram">Max <b>RAM</b></label>
                                        <div class="input-slider-container slider-row">
                                            <input id="current_ram" type="range" class="custom-range-blue"
                                                [min]="resourceQuotaForm.get('ram.min_ram')?.value"
                                                [max]="resourceQuotaForm.get('ram.max_ram')?.value"
                                                formControlName="current_ram" />
                                            <span class="mx-2 value-display">{{
                                                resourceQuotaForm.get('ram.max_ram')?.value
                                                }} {{resourceQuotaForm.get('ram.unit')?.value}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between my-4 custom-ram-label">
                                            <span><small>{{
                                                    resourceQuotaForm.get('ram.current_ram')?.value }}
                                                    {{resourceQuotaForm.get('ram.unit')?.value}}</small></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="resource-card outline-green text-format">
                                    <div formGroupName="cpu">
                                        <label for="current_cpu">Max <b>CPU</b></label>
                                        <div class="input-slider-container slider-row">
                                            <input id="current_cpu" type="range" step="0.5" class="custom-range-green"
                                                [min]="resourceQuotaForm.get('cpu.min_cpu')?.value"
                                                [max]="resourceQuotaForm.get('cpu.max_cpu')?.value"
                                                formControlName="current_cpu" />
                                            <span class="mx-2 value-display">{{
                                                resourceQuotaForm.get('cpu.max_cpu')?.value
                                                }} {{resourceQuotaForm.get('cpu.unit')?.value}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between my-4 custom-cpu-label">
                                            <span><small>{{
                                                    resourceQuotaForm.get('cpu.current_cpu')?.value }}
                                                    {{resourceQuotaForm.get('cpu.unit')?.value}}</small></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="resource-card outline-orange text-format">
                                    <div formGroupName="storage">
                                        <label for="current_storage">Max <b>Storage</b></label>
                                        <div class="input-slider-container slider-row">
                                            <input id="current_storage" type="range" class="custom-range-orange"
                                                [min]="resourceQuotaForm.get('storage.min_storage')?.value"
                                                [max]="resourceQuotaForm.get('storage.max_storage')?.value"
                                                formControlName="current_storage" />
                                            <span class="mx-2 value-display">{{
                                                resourceQuotaForm.get('storage.max_storage')?.value
                                                }} {{resourceQuotaForm.get('storage.unit')?.value}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between my-4 custom-storage-label">
                                            <span><small>{{
                                                    resourceQuotaForm.get('storage.current_storage')?.value
                                                    }}
                                                    {{resourceQuotaForm.get('storage.unit')?.value}}</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="d-flex justify-content-center mt-5">
                            <a class="link">
                                Upgrade to Nimbuz Business to enable the resource limits.
                            </a>
                        </div>
                    </div>
                </ng-template>
            </c-accordion-item>
        </c-accordion> -->

        <div class="d-flex justify-content-end  mt-4" *ngIf="!projectExhausted && !environmentExhausted">
            <button type="button" class="btn button-format-outline mx-2" (click)="goBack()">Cancel</button>
            <button type="submit" class="btn button-format-solid" (click)="createProject()"
                [disabled]="projectForm.invalid || !permissionService.canWriteGlobal()">Create project</button>
        </div>

    </form>
</div>