.card-child {
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.custom-label {
  font-size: 13px;
}

.file-preview {
  max-width: 120px;
  min-width: 50px;
  /* optional for consistent width */
}

.file-content {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
  min-height: 100px;
  max-height: 140px;
  min-width: 50px;
  max-width: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file-content:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.file-name {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 2px;
  text-align: center;
}

.file-hint {
  font-size: 12px;
  opacity: 0.4;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  // margin-top: auto;
  padding-bottom: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  // opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    background-color 0.3s ease,
    transform 0.3s ease;
  border-radius: 6px;
  transform: scale(1);
}

.file-content:hover .overlay {
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.4);
  transform: scale(1.05);
}

.overlay i {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.95);
  font-size: 18px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.overlay i:hover {
  transform: scale(1.1);
  color: #ff4444;
}