<div class="card-child">
  <c-card-group *ngIf="!deploymentdetails">
    <c-card>
      <p><small>No config maps to display for this deployment.</small></p>
    </c-card>
  </c-card-group>
  <c-card-group>
    <c-card>
      <c-accordion>
        <c-accordion-item #item0="cAccordionItem" [visible]="true">
          <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
              <i class="bi bi-file-earmark-text mx-1"></i>Config-as-code
            </button>
          </ng-template>
          <ng-template cTemplateId="accordionBodyTemplate">
            <div class="accordion-body">
              <fieldset [disabled]="freezeAddNewData">
                <form [formGroup]="fileUploadForm">
                  <div class=" d-flex justify-content-between gap-2">
                    <div class="my-2 w-100">
                      <label class="custom-label my-1"><b>File Path</b></label>
                      <input type="text" formControlName="filePath" name="filePath" class="form-control" />
                    </div>
                    <div class="my-2 w-100">
                      <label class="custom-label my-1"><b>File Name</b></label>
                      <input type="text" formControlName="fileName" name="filePath" class="form-control" />
                    </div>
                  </div>
                  <div class="my-2 w-50">
                    <div>
                      <label for="fileInput" class="custom-label my-1"><b>Select a file to upload</b></label>
                      <div class="d-flex align-items-center gap-2">
                        <input type="file" id="fileInput" formControlName="fileInput" class="form-control custom-label"
                          (change)="onFileSelect($event)" accept=".json,.yml,.yaml" />
                        <i class="bi bi-x-circle-fill fs-4 text-dark cursor-pointer" (click)="clearFile()"
                          title="Clear Selected File"></i>
                      </div>
                      <div
                        *ngIf="fileUploadForm.get('fileInput')?.hasError('invalidFileType') && fileUploadForm.get('fileInput')?.touched"
                        class="text-danger my-2">
                        Invalid file type. Only .yml, .json files are allowed.
                      </div>
                      <div
                        *ngIf="fileUploadForm.get('fileInput')?.hasError('fileSizeExceeded') && fileUploadForm.get('fileInput')?.touched"
                        class="text-danger my-2">
                        File size exceeds the limit of 100MB.
                      </div>
                    </div>

                  </div>
                  <div class="d-flex justify-content-end my-2">
                    <button class="btn button-format-solid custom-label mt-2" (click)="updateConfigFile()"
                      [disabled]="fileUploadForm.invalid"><i class="bi bi-upload"></i> Upload
                    </button>
                  </div>
                </form>
              </fieldset>
            </div>
          </ng-template>
        </c-accordion-item>
      </c-accordion>
    </c-card>
  </c-card-group>
</div>