<form [formGroup]="filterForm">
    <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center gap-2 w-50">
            <label class="form-label mb-0">Search</label>
            <input type="text" class="form-control" placeholder="Search by keyword..." formControlName="searchText" />
            <button type="button" class="btn btn-outline-secondary" (click)="onRefresh()" aria-label="Refresh logs"
                title="Refresh logs">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>
        <div class="ms-auto">
            <div class="ms-auto theme-toggle mb-0">
                <span class="switch-label">Switch mode</span>
                <label class="switch">
                    <input type="checkbox" [checked]="isLightMode" (change)="toggleMode($event)">
                    <span class="slider">
                        <i class="bi bi-moon icon-moon"></i>
                        <i class="bi bi-sun icon-sun"></i>
                    </span>
                </label>
            </div>

        </div>
    </div>
</form>
<div class="log-container" [class.dark]="!isLightMode" [class.light]="isLightMode" #scrollContainer>
    <table class="log-table">
        <thead>
            <tr>
                <th class="col-timestamp">Timestamp</th>
                <th>Message</th>
            </tr>
        </thead>
    </table>
    <div class="terminal-wrapper">
        <table class="terminal-table">
            <tbody>
                <tr *ngIf="filteredLogs.length === 0">
                    <td colspan="2" class="empty-log">No logs available</td>
                </tr>

                <tr *ngFor="let log of filteredLogs">
                    <td class="timestamp col-timestamp">
                         {{ log.timestamp | date:'yyyy-MM-dd HH:mm:ss':'Asia/Kolkata' }}
                    </td>
                    <td class="message" [ngClass]="getLogClass(log.message)"
                        [innerHTML]="log.message | highlight:filterForm.get('searchText')?.value">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="totalItems > 0" class="pagination d-flex justify-content-between gap-3 my-4">
    <nav>
        <ul class="pagination justify-content-center align-items-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="onPageChange(currentPage - 1)">Prev</button>
            </li>
            <li class="page-item" *ngIf="pages[0] > 1">
                <button class="page-link" (click)="onPageChange(1)">1</button>
            </li>
            <li class="page-item" *ngIf="pages[0] > 2">
                <span class="page-link">…</span>
            </li>
            <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
                <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
            </li>
            <li class="page-item" *ngIf="pages[pages.length - 1] < totalItems - 1">
                <span class="page-link">…</span>
            </li>
            <li class="page-item" *ngIf="pages[pages.length - 1] < totalItems">
                <button class="page-link" (click)="onPageChange(totalItems)">{{ totalItems }}</button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalItems">
                <button class="page-link" (click)="onPageChange(currentPage + 1)">Next</button>
            </li>

        </ul>
    </nav>

    <label class="d-flex align-items-center justify-content-between gap-2">
        <span class="form-label page-options">Page Size:</span>
        <select [(ngModel)]="itemsPerPage" (change)="onChangePageSize($event)"
            class="form-select form-select-sm page-options">
            <option *ngFor="let page of pageSizes" [value]="page">{{ page }}</option>
        </select>
    </label>
</div>