<div *ngIf="loading" class="loader-backdrop">
  <div class="loader-box">
    <div class="spinner"></div>
    <p>Please wait while we process your request...</p>
  </div>
</div>

<div class="d-flex  align-items-center vh-100 section">
  <div class="text-center align-items-center w-100">
    <div class="my-4">
      <img src="assets/images/logo-dark.png" class="sidebar-brand-narrow" />
    </div>
    <h1>Deploy Smarter. Start Now</h1>
    <p>Create your account and streamline your application delivery pipeline.</p>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-white p-3 w-100">
    <h2 class="my-4"><b>Login</b></h2>
    <div class="d-flex justify-content-center align-items-center">
      <div class="rounded" style="width: 500px;">
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="form-group mb-3">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-person"></i>
                </span>
                <input type="text" class="form-control" placeholder="Username *" formControlName="username" />
              </div>
              <div
                *ngIf="loginForm.get('username')?.invalid && (submitted || loginForm.get('username')?.touched || loginForm.get('username')?.dirty)"
                class="text-danger mt-1">
                Username is required.
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-lock"></i>
                </span>
                <input [type]="visiblePasswordFields.has('password') ? 'text' : 'password'" class="form-control" placeholder="Password *"
                  formControlName="password" />
                <span class="input-group-text password-toggle" style="cursor:pointer;"
                  (click)="togglePasswordVisibility('password')">
                  <i class="bi" [ngClass]="visiblePasswordFields.has('password') ? 'bi-eye-slash' : 'bi-eye'"></i>
                </span>
              </div>
              <div
                *ngIf="loginForm.get('password')?.hasError('required') && (submitted || loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
                class="text-danger mt-1">
                Password is required.
              </div>
              <div class="d-flex justify-content-end align-items-end my-4">
                <!-- <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="rememberMe">
                  <label class="form-check-label" for="rememberMe">Remember me</label>
                </div> -->
                <a routerLink="/forgot-password" class="text-decoration-none text-orange small">Forgot password?</a>
              </div>
            </div>
            <div class="d-grid my-4">
              <button type="submit" class="btn btn-submit p-2">Login</button>
            </div>
            <p class="text-center">
              Create new account?
              <a routerLink="/create-account" class="text-decoration-none text-orange">Sign up</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>