::ng-deep .tools .nav-item{
    margin: auto;
}
.btn-align{
    position: relative;
    top: 50px;
}

:host ::ng-deep .ag-row.tool-row-disabled {
    cursor: not-allowed;
    opacity: 0.62;
}

:host ::ng-deep .ag-row.tool-row-disabled .ag-cell {
    cursor: not-allowed !important;
    pointer-events: auto;
}
