<div class="container">
  <div class="d-flex justify-content-end align-items-center">
    <button class="btn button-format-solid px-4 btn-align" (click)="addTools()" [disabled]="!(permissionService.canAdminGlobal() || permissionService.canWriteForCurrentUser(getCurrentProjectId(), envId))" [attr.title]="!(permissionService.canAdminGlobal() || permissionService.canWriteForCurrentUser(getCurrentProjectId(), envId)) ? 'You are not authorized to view that page.' : null"><i class="bi bi-plus"></i> New Tool
    </button>
  </div>
  <app-ag-grid-table [columnDefs]="columnDefs" [rowData]="rowData" 
    [getRowId]="getRowId" (gridReady)="onGridReady($event)"></app-ag-grid-table>
</div>