<div class="d-flex justify-content-between align-items-center">
  <div class="quick-filter">
    <span>Quick Filter:</span>
    <input type="text" id="filter-text-box" placeholder="Filter..." (input)="onFilterTextBoxChanged()"
      class="form-control" />
  </div>
  <ng-container>
    <div class="d-flex justify-content-end align-items-center mb-2 btn-section gap-2">
      <!-- <button class="btn button-format-solid" (click)="newProject()" *ngIf="showProjectButton"><i
          class="bi bi-plus"></i> New
        Project</button> -->
      <button class="btn button-format-solid" (click)="newDeploy()" *ngIf="showDeployButton"><i class="bi bi-plus"></i>
        New
        Deploy</button>
      <button class="btn button-format-solid" (click)="addNewUser()" *ngIf="showAddUser"><i class="bi bi-plus"></i> New
        User</button>
    </div>

  </ng-container>

</div>



<div style="overflow-x: auto; width: 100%;">
  <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 400px; min-width: 600px; max-width: 100%;"
    [rowData]="rowData" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="paginationPageSize"
    [defaultColDef]="defaultColDef" 
    (gridReady)="onGridReady($event)" 
    [gridOptions]="gridOptions"
    (cellClicked)="getSeletedRow($event)"
    [overlayNoRowsTemplate]="noRowsTemplate">
  </ag-grid-angular>
  <!-- <ng-template *ngIf="rowData && rowData.length === 0">
    <div class="text-center py-4">
      {{NoRowsMessage}}
    </div>
  </ng-template> -->
</div>


<app-loader></app-loader>