<c-accordion class="accordion-gap">
  <c-accordion-item #item2="cAccordionItem" [visible]="true">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <button (click)="item2.toggleItem()" [collapsed]="!item2.visible" cAccordionButton>
        <i class="bi  bi-wifi  mx-1"></i>Networking
      </button>
    </ng-template>
    <ng-template cTemplateId="accordionBodyTemplate">
      <div class="accordion-body" id="network-section">
        <div class="d-flex gap-4 mb-4">
          <div class="w-100">
            <div class="card border h-100">
              <div class="card-body p-1 card-body-text">
                <h6 class="card-title mb-2 fs-6 fw-bold"><i class="bi bi-globe"></i> Public Networking</h6>
                <small class="text-muted d-block mb-3 fs-7">Access to this service publicly through HTTP/TCP.</small>

                <div *ngIf="!ingressDomain" class="d-flex align-items-center justify-content-center p-4">
                  <button class="btn button-format-outline" (click)="onNetworkingSubmit()" [disabled]="formDisabled"
                    title="Generate domain">
                    <i class="bi bi-lightning-charge mx-1"></i> Generate Domain
                  </button>
                </div>

                <div *ngIf="ingressDomain">
                  <div class="d-flex align-items-center justify-content-between">
                    <small class="fw-bold fs-7">Domain URL</small>
                    <div class="d-flex gap-2">
                      <div class="position-relative">
                        <button class="btn btn-sm btn-outline-secondary" type="button" title="Copy domain"
                          (click)="copyDomain('https://' + ingressDomain, 'domain-copy')">
                          <i class="bi bi-clipboard mx-1"></i> copy
                        </button>
                        <small *ngIf="copiedButtonId === 'domain-copy'"
                          class="badge badge-success border border-success text-success ms-2 badge-copied fw-light">Copied!</small>
                      </div>
                      <button class="btn btn-sm btn-outline-danger" title="Delete endpoint" (click)="deleteEndpoint()"
                        [disabled]="formDisabled">
                        <i class="bi bi-x-circle mx-1"></i>delete
                      </button>
                    </div>
                  </div>
                  <div class="py-1">
                    <p class="mb-0 domain-text w-100 domain-link" (click)="open('http://' + ingressDomain)">https://{{
                      ingressDomain }}</p>
                  </div>
                  <!-- <div class="text-secondary small mt-2 fs-7" *ngIf="endpointStatus">
                    Status: <span class="badge fw-light"
                      [ngClass]="{
                        'badge badge-danger': endpointStatus === 'unreachable',
                        'badge badge-success': endpointStatus === 'reachable'
                      }">{{ endpointStatus }}</span>
                  </div> -->
                  <!-- <div class="mt-2"
                    *ngIf="!networkSettingsForm.get('customDns')?.value || !networkSettingsForm.get('showAuthentication')?.value">
                    <hr class="my-3">
                    <h6 class="fw-bold fs-2 mb-2">
                      <i class="bi bi-gear"></i> Advanced Settings
                    </h6>
                    <div class="form-check form-switch" *ngIf="!networkSettingsForm.get('customDns')?.value">
                      <input class="form-check-input" type="checkbox" id="enableCustomDns"
                        [(ngModel)]="enableCustomDns" (change)="onEnableCustomDnsChange($event)">
                      <label class="form-check-label fs-2" for="enableCustomDns">
                        Enable Custom DNS
                      </label>
                    </div>
                    <div class="form-check form-switch" *ngIf="!networkSettingsForm.get('showAuthentication')?.value">
                      <input class="form-check-input" type="checkbox" id="enableAuth" [(ngModel)]="enableAuth" (change)="onEnableAuthChange($event)">
                      <label class="form-check-label fs-2" for="enableAuth">
                        Enable Authentication
                      </label>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="w-100">
            <div class="card border h-100">
              <div class="card-body p-1 card-body-text">
                <h6 class="card-title mb-2 fs-6 fw-bold"><i class="bi bi-shield-lock"></i> Private Networking</h6>
                <small class="text-muted d-block mb-3 fs-7">Access this service from within the network.</small>
                <div class="d-flex align-items-center justify-content-between">
                  <small class="fw-bold fs-7">Internal Host</small>
                  <div class="position-relative">
                    <button class="btn btn-sm btn-outline-secondary" type="button" title="Copy host"
                      (click)="copyDomain('http://' + deploymentdetails?.name, 'host-copy')">
                      <i class="bi bi-clipboard mx-1"></i>copy
                    </button>
                    <small *ngIf="copiedButtonId === 'host-copy'"
                      class="badge badge-success border border-success text-success ms-2 badge-copied fw-light">Copied!</small>
                  </div>
                </div>
                <div class="py-1">
                  <p class="mb-0 domain-text w-100">http://{{ deploymentdetails?.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <fieldset [disabled]="formDisabled">
          <form cForm [formGroup]="networkSettingsForm">
            <div class="d-flex gap-4 mb-4">
              <div class="w-100 min-vh-auto" >
                <div class="card border h-100">
                  <div class="card-body p-1 card-body-text">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                      <div>
                        <h6 class="card-title mb-0 fs-6 fw-bold"><i class="bi bi-sliders"></i> Custom DNS</h6>
                        <small class="text-muted d-block fs-7 mt-1">Enable custom domain configuration</small>
                      </div>
                      <label class="svg-toggle">
                        <input type="checkbox" formControlName="customDns" (change)="toggleHost($event)" />
                        <span class="track">
                          <span class="knob"></span>
                        </span>
                      </label>
                    </div>

                    <fieldset [disabled]="!networkSettingsForm.get('customDns')?.value" class="custom-domain-section">
                      <div class="mb-2">
                        <label class="form-label fs-7 mb-1">Hostname</label>

                        <div class="input-group">
                          <input type="text" class="form-control custom-values" name="customDnsHost"
                            placeholder="Enter hostname" formControlName="customDnsHost">
                          <button class="btn btn-primary ms-1" (click)="onCustomDnsSubmit()"
                            [disabled]=" formDisabled || !networkSettingsForm.get('customDnsHost')?.dirty">Generate</button>
                        </div>
                        <div *ngIf="iscustomDnsHostError" class="text-danger small mt-1">
                          Hostname is required.
                        </div>
                      </div>
                      <div *ngIf="networkSettingsForm.get('customDnsHost')?.value" class="mb-2"> 
                        <div class="mb-2 bg-light p-2 rounded">
                          <small class="fw-bold d-block mb-1 fs-7">DNS Name</small>
                          <div class="d-flex align-items-center">
                            <p class="mb-0 small text-break dns-text">https://{{ ingressDomain }}</p>
                            <div class="position-relative">
                              <button class="btn btn-sm btn-outline-secondary border-0" type="button" title="Copy DNS"
                                (click)="copyDomain(dnsInfo?.dnsName, 'dns-copy')">
                                <i class="bi bi-clipboard mx-1"></i>
                              </button>
                              <small *ngIf="copiedButtonId === 'dns-copy'"
                                class="badge badge-success border border-success text-success ms-2 badge-copied fw-light">Copied!</small>
                            </div>
                          </div>
                        </div>
                        <div class="mb-2 bg-light p-2 rounded">
                          <small class="fw-bold d-block mb-1 fs-7">IP Address</small>
                          <div class="">
                            <div *ngFor="let item of ipAddresses" class="d-flex align-items-center">
                              <small class=" d-block dns-text">
                                {{ item.ip }} ({{ item.type }})
                              </small>
                              <div class="position-relative">
                                <button class="btn btn-sm btn-outline-secondary border-0" type="button" title="Copy IP"
                                  (click)="copyDomain(item.ip, item.id)">
                                  <i class="bi bi-clipboard mx-1"></i>
                                </button>
                                <small *ngIf="copiedButtonId === item.id"
                                  class="badge bg-light border border-success text-success ms-2 badge-copied fw-light">
                                  Copied!
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>

            
            </div>
              <div class="w-100 " >
                <div class="card border w-100">
                  <div class="card-body p-1 card-body-text">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                      <div>
                        <h6 class="card-title mb-0 fs-6 fw-bold"><i class="bi bi-shield-check"></i> Authentication</h6>
                        <small class="text-muted d-block fs-7 mt-1">Secure your endpoint with username &
                          password</small>
                      </div>
                      <label class="svg-toggle">
                        <input type="checkbox" formControlName="showAuthentication"
                          (change)="toggleAuthentication($event)" />
                        <span class="track">
                          <span class="knob"></span>
                        </span>
                      </label>
                    </div>
                    <ng-container *ngIf="networkSettingsForm.get('showAuthentication')?.value">
                      <fieldset [disabled]="!networkSettingsForm.get('showAuthentication')?.value"
                        class="custom-domain-section">
                        <div [formGroupName]="'authentication'">
                          <div class="mb-2">
                            <label for="username" class="form-label fs-7 mb-1">Username</label>
                            <input id="username" formControlName="username" class="form-control form-control-sm"
                              autocomplete="off" />
                            <div *ngIf="isInvalid('authentication.username') && submitted"
                              class="text-danger small mt-1">
                              Username is required.
                            </div>
                          </div>

                          <div class="mb-2">
                            <label for="password" class="form-label fs-7 mb-1">Password</label>
                            <div class="input-group">
                              <input id="password" formControlName="password" [type]="hide ? 'password' : 'text'"
                                class="form-control form-control-sm" autocomplete="new-password"
                                (input)="onPasswordChange()" />
                              <span class="input-group-addon" *ngIf="showPasswordIcon">
                                <i class="positioning glyphicon bi" [ngClass]="{'bi-eye': hide, 'bi-eye-slash': !hide}"
                                  (click)="toggleVisibility()"></i>
                              </span>
                            </div>
                            <div *ngIf="isInvalid('authentication.password') && submitted"
                              class="text-danger small mt-1">
                              Password is required.
                            </div>
                          </div>
                        </div>

                        <div class="d-flex gap-2 justify-content-end mt-3">
                          <button class="btn button-format-solid btn-sm" type="button"
                            (click)="onAuthenticationSubmit()"
                            [disabled]="!networkSettingsForm.get('showAuthentication')?.value || formDisabled"
                            title="Set Authentication">
                            Set Authentication
                          </button>
                          <button class="btn button-format-outline btn-sm" type="button"
                            (click)="cancelAuthentication()"
                            [disabled]="!networkSettingsForm.get('showAuthentication')?.value || formDisabled"
                            title="Cancel Authentication">
                            Cancel
                          </button>
                        </div>
                      </fieldset>
                    </ng-container>
                  </div>
                </div>
              </div>
          </form>
        </fieldset>
      </div>
    </ng-template>
  </c-accordion-item>
</c-accordion>