<div class="container mt-2">
  <c-card class="p-4">
    <form cForm [formGroup]="accountForm">
      <div class="mb-2"><b>Account Information</b></div>
      <div class="row my-3">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input id="name" formControlName="name" class="form-control" />
          <div *ngIf="isInvalid('name') || submitted" class="text-danger small">
            <div *ngIf="accountForm.get('name')?.errors?.['required']">Name is required.</div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input id="email" formControlName="email" class="form-control" />
          <div *ngIf="isInvalid('email') || submitted" class="text-danger small">
            <div *ngIf="accountForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="accountForm.get('email')?.errors?.['email']">Invalid email format.</div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="username" class="form-label">User Name</label>
          <input id="name" formControlName="userName" class="form-control" />
        </div>

        <!-- <div class="col-md-6">
          <label for="avatar" class="form-label">Avatar</label>
          <div class="d-flex align-items-center gap-2">
            <input id="avatar" formControlName="avatar" class="form-control w-100" (input)="updateAvatarPreview()" />
            <div class="avatar-preview">
              <img *ngIf="avatarPreview" [src]="avatarPreview" alt="Avatar Preview" />
            </div>
          </div>
        </div> -->
      </div>

      <!-- <div class="text-end">
        <button type="submit" class="btn button-format-solid" (click)="onSubmit()">Update Info</button>
      </div> -->
    </form>
  </c-card>
  <c-card class="p-4 my-3">
    <form cForm [formGroup]="resetPasswordForm">
      <div class="mb-2"><b>Reset Password</b></div>
      <div class="row my-3">
        <div class="col-md-4">
          <label for="oldPassword" class="form-label">Current Password</label>
          <div class="input-group">
            <input id="oldPassword" [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword"
              class="form-control" />
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword('old')" tabindex="-1">
              <i class="bi" [ngClass]="showOldPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
          <div
            *ngIf="resetPasswordForm.get('oldPassword')?.hasError('required') && (submitted || resetPasswordForm.get('oldPassword')?.touched || resetPasswordForm.get('oldPassword')?.dirty)"
            class="text-danger mt-1">
            Current password is required.
          </div>
          <div
            *ngIf="resetPasswordForm.get('oldPassword')?.hasError('pattern') && (submitted || resetPasswordForm.get('oldPassword')?.touched || resetPasswordForm.get('oldPassword')?.dirty)"
            class="text-danger mt-1">
            Current password must be at least 8 characters long and include at least one uppercase letter, one lowercase
            letter, one number, and one special character.
          </div>
        </div>
        <div class="col-md-4">
          <label for="password" class="form-label">New Password</label>
          <div class="input-group">
            <input id="password" [type]="showNewPassword ? 'text' : 'password'" formControlName="password"
              class="form-control" />
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword('new')" tabindex="-1">
              <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
          <div class="text-danger mt-1">
            <div
              *ngIf="resetPasswordForm.get('password')?.hasError('required') && (isResetPasswordSubmitted || resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty)">
              New password is required.</div>
            <div class="text-danger mt-1"
              *ngIf="resetPasswordForm.get('password')?.hasError('pattern') && (isResetPasswordSubmitted || resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty)">
              Password must be at least 8 characters long and include at least one uppercase letter, one lowercase
              letter, one number, and one special character.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <div class="input-group">
            <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword" class="form-control" />
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword('confirm')" tabindex="-1">
              <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
          <div
            *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && (isResetPasswordSubmitted || resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty)"
            class="text-danger mt-1">
            Confirm password is required.
          </div>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['mismatch']" class="text-danger mt-1">Confirm
            password must match the new password.</div>

        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn button-format-solid" (click)="onResetPassword()">Reset Password</button>
      </div>
    </form>
  </c-card>
</div>