.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

pre {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  white-space: pre-wrap;
  word-break:keep-all;
  overflow-y: scroll; 
}

.background-grey{
  background-color: #222222 ;
}

.background-lightgrey{
border: 1px solid #ccc;
background-color: #f8f8f8;
}

 /* card.component.css */
 .card {
  width: 100%;
  height: 450px; 
  border: 2px solid rgba(110, 110, 110, 0.1);
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1; 
}
