.utilization-dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
 a,a:hover {
        color: #f60;
    }
.endpoint-list {
  border-radius: 16px;
  border: 2px solid #D3D3D3;
  background: #F8F8F8;
  padding: 20px;

  h3 {
    color: var(--Neutral-Colors-Black, #1E1B39);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    color: var(--Neutral-Colors-400, #9291A5);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }


  .table>:not(:last-child)>:last-child>* {
    border: 0;
  }

  .table> :not(caption)>*>* {
    border-bottom: 0;
    border-top: 1px solid #F60;
  }

  .table th {
    color: #99A0AE;
  }

  .table td {
    color: #232323
  }

  .table th,
  .table td {
    padding: 8px 10px;
    text-align: left;
    font-family: 'plusFont', sans-serif;
    font-weight: 400;
    background: transparent;
  }
}

.filter-buttons {
  i {
    margin-left: 10px;
  }
}

.w-35 {
  width: 35%;
}

.disabled-link {
  pointer-events: none;
  color: grey;
  text-decoration: none;
  cursor: not-allowed;
}
.table-responsive{
  overflow: visible !important;
}

.endpoint-list.dropdown-open {
  padding-bottom: 60px !important;
  overflow: visible !important;
}

@media (min-width: 800px) and (max-width: 1199.98px) {
    .custom-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
  }

  
@media (max-width: 800px) {
    .custom-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
  }

  .card-title {
    font-size: 27px !important;
    font-family: "plusFont", sans-serif !important;
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 160px;
  z-index: 1000;
}

.floating-dropdown {
  position: absolute;
  transform: none;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background: #fff;
  padding: 6px 0;
  min-width: 140px;
  z-index: 3000;
  color: #000;
}