<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let card of cards">
            <app-summary-card [value]="card.value" [label]="card.label" [change]="card.change"
                [description]="card.description">
            </app-summary-card>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 custom-col" *ngFor="let chart of utilizationData">
            <app-utilization-chart [title]="chart.title" [subtitle]="chart.subtitle" [value]="chart.value"
                [rawValue]="chart.rawValue">
            </app-utilization-chart>
        </div>
    </div>

    <div class="endpoint-list my-4 py-4 overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="">Endpoint list</h3>
                <p class="">The following table lists the endpoints for your account.</p>
                <div class="table-responsive">
                    <table class="table align-middle table-hover">
                        <thead class="border-0">
                            <tr class="text-muted">
                                <!-- <th scope="col">Health status</th> -->
                                <th scope="col">Endpoint name</th>
                                <th scope="col">URL</th>
                                <th scope="col" class="text-center">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let endpoint of endpoints">
                                <td>{{ endpoint.name }}</td>
                                 <!-- <td>
                                    <span [ngClass]="{'disabled-link': endpoint.status !== 'accessible'}"
                                        [attr.title]="endpoint.status === 'unreachable' ? 'Endpoint not ready yet' : endpoint.host">

                                        <button class="btn btn-link p-0 ms-2" (click)="copyToUrl(endpoint.host)"
                                            title="Copy URL">
                                            <i class="bi bi-clipboard"></i>
                                        </button>
                                        {{ endpoint.host }}
                                    </span>
                                </td> -->
                <td>
                  <a href="{{ endpoint.host }}" target="_blank">
                    {{ endpoint.host }}
                  </a>
                                <td class="text-center text-info">
                                    <c-dropdown class="action-dropdown">
                                        <button class="btn btn-icon" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul cDropdownMenu class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" (click)="viewEndpoint(endpoint)">View</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" (click)="deleteEndpoint(endpoint)">Delete</a>
                                            </li>
                                        </ul>
                                    </c-dropdown>
                                </td>
                            </tr>
                            <tr *ngIf="endpoints.length === 0">
                                <td colspan="4">
                                    <p class="text-center">No data found.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>