<div class="container">
    <div class="row d-flex justify-content-between align-items-stretch">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 d-flex align-items-stretch mb-4 flex-fill" *ngFor="let card of cards">
            <app-summary-card class="w-100" [value]="card.value" [label]="card.label" [description]="card.description">
            </app-summary-card>
        </div>
    </div>

    <!-- <div class="row my-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 custom-col" *ngFor="let chart of utilizationData">
            <app-utilization-chart [title]="chart.title" [subtitle]="chart.subtitle" [value]="chart.value"
                [rawValue]="chart.rawValue">
            </app-utilization-chart>
        </div>
    </div> -->
        <div class="endpoint-list my-4 py-4" [class.overflow-hidden]="!isDropdownOpen" [class.dropdown-open]="isDropdownOpen">
        <div class="row">
            <div class="col-md-12">
                <h3 class="">Endpoint list</h3>
                <p class="">The following table lists the endpoints for your account.</p>
                <div class="table-responsive">
                    <table class="table align-middle table-hover">
                        <thead class="border-0">
                            <tr class="text-muted">
                                <th scope="col">Endpoint name</th>
                                <th scope="col">URL</th>
                                <!-- <th scope="col" class="text-center">Manage</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let endpoint of endpoints">
                                <td (click)="viewEndpoint(endpoint)" class="cursor h-link">{{ endpoint.name }}</td>
                                <td>
                                    <a href="{{ endpoint.host }}" target="_blank">
                                        {{ endpoint.host }}
                                    </a>
                                </td>
                                <!-- <td class="text-center text-info">
                                 
                                    <div class="custom-dropdown d-inline-block">
                                        <button #dropdownBtn class="btn btn-icon" type="button"
                                            (click)="toggleDropdown($event, dropdownBtn)">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul *ngIf="isDropdownOpen" #menu class="custom-dropdown-menu floating-dropdown"
                                            [ngStyle]="dropdownStyle">
                                            <li><a class="custom-dropdown-item" (click)="viewEndpoint(endpoint)">View</a> </li>
                                            <li><a class="custom-dropdown-item" (click)="(permissionService.canDeleteForCurrentUser(currentEnvId, null) || permissionService.canAdminGlobal()) && deleteEndpoint(endpoint)" [class.disabled]="!(permissionService.canDeleteForCurrentUser(currentEnvId, null) || permissionService.canAdminGlobal())" [attr.aria-disabled]="!(permissionService.canDeleteForCurrentUser(currentEnvId, null) || permissionService.canAdminGlobal())">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td> -->
                            </tr>
                            <tr *ngIf="!endpoints || endpoints.length === 0">
                                <td colspan="4">
                                    <p class="text-center">No data found.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>