<div class="card-child">
  <c-accordion class="accordion-gap  mb-4">
    <c-accordion-item #item0="cAccordionItem" [visible]="true">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          <i class="bi bi-activity mx-1"></i>Active
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          
          <div class="d-flex justify-content-between align-items-start" *ngIf="deploymentdetails">
            <div class="m-4">
              <!-- *ngIf="hasFailedStatus()" -->
              <div class="realse-status-header" *ngIf="currentStatus">
                <div class="status-title" [ngClass]="getClassList(currentStatus)"> {{
                  currentStatus
                  }}</div>

                <p class="mb-0 status-des">{{deploymentdetails?.name}} {{active?.updated_at | date}}</p>
                <p class="status-subtitle">Last updated via {{active.sourceCode?.type?.toLowerCase() === 'vcs' ? getProviderName(active.sourceCode?.gitUrl) : 'zip/tar'}}
                </p>
              </div>

              <div class="timeline-section">
                <div class="timeline">
                  <div class="step" *ngFor="let step of steps; let i = index" [ngClass]="step.status">
                    <div class="circle"></div>
                    <div class="content">
                      <div class="title">
                        <span>{{ step.title }}</span>
                      </div>
                      <div class="time">{{ step.time | date: 'short'}}</div>
                      <div *ngIf="step.status" class="title" [innerHTML]="step.message"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center gap-2 m-4">
              <button type="button" *ngIf="canCancelDeployment" (click)="cancelDeployment()"
                class="btn button-format-outline">
                Cancel Build
              </button>
              <button type="button" (click)="onOptionSelected(active, 'active')" class="btn button-format-solid"
                [disabled]="(active && active.length === 0) || active?.status === 'Pending'">
                View logs
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>

  <c-accordion class="accordion-gap">
    <c-accordion-item #item1="cAccordionItem" [visible]="true">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
          <i class="bi bi-clock-history mx-1"></i>History
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <div *ngIf="history?.length === 0">
            <c-callout color="secondary">
              <div class="custom-heading">No history of deployments yet.</div>
            </c-callout>
          </div>

          <div *ngIf="history?.length > 0" class="my-4">
            <div class="deployment-history">
              <div class="history-item" *ngFor="let item of history; let last = last">
                <div class="history-timeline-line" [class.hide-line]="last"></div>

                <div class="history-content">
                  <div class="history-left">
                    <i class="bi me-2" [ngClass]="getClassList(item?.status)"></i>
                    <div class="history-text">
                      <div class="job-title">
                        <a class="job-link">
                          {{ deploymentdetails?.name }} <span class="updated-date">({{ item?.updatedAt | date:
                            'MM/dd/yyyy, HH:mm a' }})</span>
                        </a>
                      </div>
                      <div class="status-date">
                        <span>
                          {{ item?.status }}
                        </span>
                        <span class="date">{{ item?.updatedAt | relativeTime }}</span>
                      </div>
                    </div>
                  </div>

                  <div class="history-right">
                    <div class="dropdown" (click)="toggleDropdown(item?.id, $event)">
                      <button class="btn btn-icon" type="button">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <ul *ngIf="openDropdown === item?.id" class="dropdown-menu show">
                        <li (click)="onOptionSelected(item, 'history')">
                          <a class="dropdown-item">View logs</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>
</div>


<app-modal #logsModal [modalConfig]="logsModalConfig">
  <app-log-viewer [logs]="deploymentLogs" [itemsPerPage]="itemsPerPage" [pageSizes]="pageSizes"
    [currentPage]="currentPage" [isLightMode]="isLightMode" [totalItems]="totalPages"
    (getLogs)="onPageSizeChange($event, 'build')" (getAlltLogs)="onDownloadLogs()">
  </app-log-viewer>
  
</app-modal>
