<div class="modal-content text-center p-4 rounded-xl shadow-lg">
    <div class="flex justify-center">
        <div class="modal-icon-wrapper p-2">
            <div class="modal-icon-circle">
                <i class="bi bi-exclamation-circle-fill text-red-600 text-3xl"></i>
            </div>
        </div>
    </div>
    <h4 class="text-red-600 font-semibold text-lg"> {{message}}
    </h4>
    <p class="mt-2 modal-text">Pausing the deployment may cause temporary downtime or affect ongoing processes.</p>
    <hr />
    <div class="my-4 d-flex justify-content-center align-items-center gap-4">
        <button type="button" class="px-5 py-2 btn-outline" (click)="cancel()">Cancel</button>
        <button type="button" class="px-5 py-2 btn-solid" (click)="confirm()">Confirm</button>
    </div>
</div>