<div class="container mt-4">
    <h3 class="mb-3">Application Configuration</h3>
    <hr />
    <form [formGroup]="deploymentForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter name" />
                <div class="text-danger mt-1" *ngIf="
                deploymentForm.get('name')?.hasError('required') &&
                (submitted ||
                  deploymentForm.get('name')?.touched ||
                  deploymentForm.get('name')?.dirty)
              ">
                    Name is required.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="modelId" class="form-label">Model ID</label>
                <input type="text" id="modelId" class="form-control" formControlName="modelId"
                    placeholder="Enter Model ID" />
                <div class="text-danger mt-1" *ngIf="
                deploymentForm.get('modelId')?.hasError('required') &&
                (submitted ||
                  deploymentForm.get('modelId')?.touched ||
                  deploymentForm.get('modelId')?.dirty)
              ">
                    Model ID is required.
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="replica" class="form-label">Replicas</label>
                <input type="number" id="replica" class="form-control" formControlName="replicas"
                    placeholder="Enter number of replicas" />
                <div class="text-danger mt-1" *ngIf="
                (deploymentForm.get('replicas')?.hasError('required')) &&
                (submitted ||
                  deploymentForm.get('replicas')?.touched ||
                  deploymentForm.get('replicas')?.dirty)
              ">
                    Replicas count is required.</div>
            </div>
            <!-- Instance Type (Select) -->
            <div class="col-md-6 mb-3">
                <label class="form-label">Instance Type</label>
                <select class="form-select" formControlName="instanceType">
                    <option value="Nvidia L2">Nvidia L2</option>
                    <option value="Nvidia L4">Nvidia L4</option>
                    <option value="Nvidia L20">Nvidia L20</option>
                    <option value="Nvidia L40">Nvidia L40</option>
                    <option value="Nvidia L40S">Nvidia L40S</option>
                </select>
                <div class="text-danger mt-1" *ngIf="
                deploymentForm.get('instanceType')?.hasError('required') &&
                (submitted || deploymentForm.get('instanceType')?.touched || deploymentForm.get('instanceType')?.dirty)
              ">
                    Instance type is required.
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Context Length -->
            <div class="col-md-6 mb-3">
                <label for="contextLength" class="form-label">Context Length</label>
                <input type="number" id="contextLength" class="form-control" formControlName="contextLength"
                    placeholder="Enter context length" />
                <div class="text-danger mt-1" *ngIf="
                deploymentForm.get('contextLength')?.hasError('required') &&
                (submitted ||
                  deploymentForm.get('contextLength')?.touched ||
                  deploymentForm.get('contextLength')?.dirty)
              ">
                    Context length is required.

                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="storage" class="form-label">Storage (Gi)</label>
                <input type="number" id="storage" class="form-control" formControlName="storageSize"
                    placeholder="Enter storage size" />
                <div class="text-danger mt-1" *ngIf="
                (deploymentForm.get('storageSize')?.hasError('required')) &&
                (submitted ||
                  deploymentForm.get('storageSize')?.touched ||
                  deploymentForm.get('storageSize')?.dirty)
              ">Storage size is required.</div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="ephemeralStorageSize" class="form-label">Ephemeral Storage (Gi)</label>
                <input type="number" id="ephemeralStorageSize" class="form-control"
                    formControlName="ephemeralStorageSize" placeholder="Enter storage size" />
                <div class="text-danger mt-1" *ngIf="
                (deploymentForm.get('ephemeralStorageSize')?.hasError('required')) &&
                (submitted ||
                  deploymentForm.get('ephemeralStorageSize')?.touched ||
                  deploymentForm.get('ephemeralStorageSize')?.dirty)
              ">Storage size is required.</div>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary mt-3 px-4">Submit</button>
        </div>
    </form>
</div>