<div class="container">
  <c-nav variant="underline-border">
    <c-nav-item>
      <a [cTabContent]="tabContent1" (click)="onTabChange(0)" [tabPaneIdx]="0" cNavLink class="px-4 py-2">
        Releases
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(1)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="1" cNavLink class="px-4 py-2">
        Environment Variables
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(2)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="2" cNavLink class="px-4 py-2">
        Secrets
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(3)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="3" cNavLink class="px-4 py-2">
        Code as config
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(4)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="4" cNavLink class="px-4 py-2">
        Settings
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(5)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="5" cNavLink class="px-4 py-2">
        Application logs
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(6)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="6" cNavLink class="px-4 py-2">
        Metrics
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(7)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="7" cNavLink class="px-4 py-2">
        Networking
      </a>
    </c-nav-item>
  </c-nav>
  <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="selectedTabIndex" cRounded="bottom">
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <app-deployment-releases [currentStatus]="lastReleaseData[0]?.status"
        [deploymentdetails]="deploymentdetails"></app-deployment-releases>
    </c-tab-pane>

    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 1">
        <app-environment-variables [canAddVariables]="true"
          [currentStatus]="lastReleaseData[0]?.status" [deploymentdetails]="deploymentdetails"></app-environment-variables>
      </ng-container>
    </c-tab-pane>

    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 2">
        <app-deployment-secrets [canAddVariables]="true"
          [currentStatus]="lastReleaseData[0]?.status" [deploymentdetails]="deploymentdetails"></app-deployment-secrets>
      </ng-container>
    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <app-deployment-config-maps [currentStatus]="lastReleaseData[0]?.status" [deploymentdetails]="deploymentdetails"></app-deployment-config-maps>
    </c-tab-pane>

    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 4">
        <app-deployment-settings (closeModalEvent)="closeModalEvent.emit()"
          [currentStatus]="lastReleaseData[0]?.status" [deploymentdetails]="deploymentdetails"></app-deployment-settings>
      </ng-container>
    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="appName && selectedTabIndex === 5">
        <app-deployment-observability (closeModalEvent)="closeModalEvent.emit()"
          [appName]="appName"></app-deployment-observability>
      </ng-container>
    </c-tab-pane>

    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 6">
        <app-deployment-metrics (closeModalEvent)="closeModalEvent.emit()"></app-deployment-metrics>
      </ng-container>
    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 7">
        <app-deployment-networking (closeModalEvent)="closeModalEvent.emit()"
          [currentStatus]="lastReleaseData[0]?.status" [deploymentdetails]="deploymentdetails"></app-deployment-networking>
      </ng-container>
    </c-tab-pane>
  </c-tab-content>

</div>
<div class="d-flex justify-content-between " *ngIf="selectedTabIndex > 0">
  <button class="btn button-format-outline  mt-3" (click)="goBack()"> <i class="bi bi-arrow-left"></i>
    Applications</button>
  <button class="btn button-format-solid mt-3" (click)="goToNextTab()" *ngIf="selectedTabIndex < 3"
    [disabled]="lastReleaseData[0]?.status === 'Building' "
    [attr.title]="(lastReleaseData[0]?.status === 'Building') ? 'You are not authorized to view that page.' : null"
    data-testid="btn-deployment-save-changes">Save
    Changes</button>
</div>
