<div class="container">
  <c-nav variant="underline-border">
    <c-nav-item>
      <a [cTabContent]="tabContent1"  (click)="onTabChange(0)"[tabPaneIdx]="0" cNavLink class="px-4 py-2">
        Releases
      </a>
    </c-nav-item> 
    <c-nav-item (click)="onTabChange(1)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="1" cNavLink class="px-4 py-2">
        Environment Variables
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(2)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="2" cNavLink class="px-4 py-2">
        Secrets
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(3)"> 
      <a [cTabContent]="tabContent1" [tabPaneIdx]="3" cNavLink class="px-4 py-2">
        Code as config
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(4)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="4" cNavLink class="px-4 py-2">
        Settings
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(5)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="5" cNavLink class="px-4 py-2">
        Application logs
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(6)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="6" cNavLink class="px-4 py-2">
        Metrics
      </a>
    </c-nav-item>
    <c-nav-item (click)="onTabChange(7)">
      <a [cTabContent]="tabContent1" [tabPaneIdx]="7" cNavLink class="px-4 py-2">
        Networking
      </a>
    </c-nav-item>
  </c-nav>
  <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="selectedTabIndex" cRounded="bottom">
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <app-deployment-releases  [currentStatus]="lastReleaseStatus"></app-deployment-releases>
    </c-tab-pane>

    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 1">
        <app-environment-variables [canAddVariables]="true" [currentStatus]="lastReleaseStatus"></app-environment-variables>
      </ng-container>
    </c-tab-pane>

    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 2">
        <app-deployment-secrets [canAddVariables]="true" [currentStatus]="lastReleaseStatus"></app-deployment-secrets>
      </ng-container>
    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 3">
        <app-deployment-config-maps [currentStatus]="lastReleaseStatus"></app-deployment-config-maps>
      </ng-container>
    </c-tab-pane>

    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 4">
        <app-deployment-settings (closeModalEvent)="closeModalEvent.emit()" [currentStatus]="lastReleaseStatus"></app-deployment-settings>
      </ng-container>

    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 5 && appName">
        <app-deployment-observability (closeModalEvent)="closeModalEvent.emit()" [appName]="appName"></app-deployment-observability>
      </ng-container>

    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 6">
        <app-deployment-metrics (closeModalEvent)="closeModalEvent.emit()"></app-deployment-metrics>
      </ng-container>

    </c-tab-pane>
    <c-tab-pane class="p-3 preview" role="tabpanel">
      <ng-container *ngIf="selectedTabIndex === 7">
        <app-deployment-networking (closeModalEvent)="closeModalEvent.emit()" [currentStatus]="lastReleaseStatus"></app-deployment-networking>
      </ng-container>

    </c-tab-pane>
  </c-tab-content>

  <div class="d-flex justify-content-between ">
    <button class="btn button-format-outline  mt-3" (click)="goBack()"> <i class="bi bi-arrow-left"></i>
      Deployments</button>
    <button class="btn button-format-solid mt-3" (click)="goToNextTab()" *ngIf="selectedTabIndex < 4" [disabled]="lastReleaseStatus === 'Building' ">Submit</button>
  </div>
</div>